
{# ---------------
Hard Coded Blog Post: The Myth of the Easy AFC East, the Definitive Guide
------------------ #}
{% set created = node.getCreatedTime|date('j F Y') %}

<article data-history-node-id="588" data-quickedit-entity-id="node/588" role="article" class="contextual-region" about="/blog/2018/12-31/myth-easy-afc-east-definitive-guide" data-quickedit-entity-instance-id="0">
  <div class="row">
    <div class="col s12 m9 l10">
  <div class="container">
    <br>
    <div class="card-panel">
        <p class="byline">
          <strong>Updates:</strong>
          <ul>
            <li>5 July 2019: Added link to new related blog post: <a href="/blog/2019/06-25/what-does-afc-east-look-if-patriots-werent-dynasty">
                What Does the AFC East Look Like if the Patriots Weren't a Dynasty?</a></li>
            <li>5 May 2019: Division breakdowns now account for the divisional realignment that took place in the
              2002 season. The numbers didn't change much, but things are more accurate now.</li>
          </ul>

        </p>
    </div>

    <p>
      Since Bill Belichick took over as coach of the New England Patriots, the team has gone on an incredible run. As
      it stands right now they don't have a&nbsp;<a target="_blank" href="/team-records">losing record against any team in
      the NFL</a>. In fact outside of the Panthers (3-3) and the Giants (3-3), they have a winning record against
      every other team.
    </p>

    <p>
      Now, one of the main arguments for this has been that the Patriots have benefited from playing in a weak
      division/conference. Being able to beat up on the lowly Bills, Dolphins and Jets has "padded" their record. Or
      "they wouldn't be as good if they were in the NFC." As someone who (obviously) loves the Patriots and (obviously)
      has too much time on their hands, I realized I was in the perfect position to research these claims. So I did.
      And I'm about to show you why the "Easy AFC East" narrative is a myth.
    </p>

    {###
     ### Patriots Win Percentage ###
    ###}
    <hr id="patspct" class="scrollspy">
    <div class="stat-box new-england-patriots">
      <h1 class="center">Patriots Win Percentage</h1>
    </div>

    <p>
      The Patriots are a staggering {{ record.nfl.win_loss }} against the NFL since 2000, which equates to a
      {{ record.nfl.win_pct|number_format(3) }} win percentage. So as a whole, the NFL has not done particularly well
      against the Pats. In fact, if the NFL vs the Patriots was an actual team, their win percentage
      ({{ record.loss_pct_nfl|number_format(3) }}) would be worse than the Cleveland Browns over the same time period
      ({{ record.team_records['cleveland-browns']['pct']|number_format(3) }} since 2000). Yes, the same Browns that won
      a combined 4 games over 3 entire seasons.
    </p>

    <p>If we break it down by conference, it looks like this:</p>

    <div class="card-panel hoverable grey lighten-4">
      <table>
        <thead>
          <tr>
            <th>Conference</th>
            <th>Win - Loss</th>
            <th>Win Percentage</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>AFC</td>
            <td>{{ record.conf.afc.win_loss }}</td>
            <td>{{ record.conf.afc.win_pct|number_format(3) }}</td>
          </tr>
          <tr>
            <td>NFC</td>
            <td>{{ record.conf.nfc.win_loss }}</td>
            <td>{{ record.conf.nfc.win_pct|number_format(3) }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <p>
      Even with a smaller sample size in the NFC the conference breakdowns are surprisingly close. So it's not like
      familiarity (or the lack thereof) creates any sort of advantage either way. Let's break it down even further, and
      look at the Patriots win percentage against each individual division.
    </p>


    <div class="card-panel hoverable grey lighten-4">
      <table>
        <thead>
        <tr>
          <th>Division</th>
          <th>W - L - T</th>
          <th>Win Percentage</th>
        </tr>
        </thead>
        <tbody>
        {% for division, data in record.div %}
          {% if division == 'AFC East' %}
            <tr class="red-text darken-4 bold">
          {% else %}
            <tr>
          {% endif %}
          <td>{{ division }}</td>
          <td>{{ data.w }} - {{ data.l }}</td>
          <td>{{ data.win_pct|number_format(3) }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>

    <p>A few things stand out.</p>

    <ol>
      <li>The AFC South has performed dismally against the Patriots, which even includes the Peyton Manning era Colts.</li>
      <li>The Patriots difficulty with the Broncos (10-9) is the main reason the AFC West is at the bottom of this list.</li>
      <li>The AFC East is smack dab in the middle of this list. Not nearly the cakewalk that the AFC South provides.</li>
      <li>The Patriots have more losses against AFC East teams than the entire NFC.</li>
    </ol>

    {###
     ### AFC East vs Everybody ###
    ###}
    <hr id="afceastvs" class="scrollspy">
    <div class="stat-box new-england-patriots">
      <h1 class="center">AFC East vs Everybody</h1>
    </div>

    <p>
      This really only proves that the AFC East is just as bad as everyone else against the Patriots. But let's take it
      one step further. How has the rest of the AFC East performed vs other divisions since 2000?
    </p>

    <div class="card-panel hoverable grey lighten-4">
      <table>
        <thead>
        <tr>
          <th>Division</th>
          <th>W - L - T</th>
          <th>Win Percentage</th>
        </tr>
        </thead>
        <tbody>
        {% for division, data in record.div_with_pats %}
          {% if division == 'AFC East' %}
            <tr class="red-text darken-4 bold">
          {% else %}
            <tr>
          {% endif %}
          {% if (division == 'NFC Central') or (division == 'AFC Central') %}
            <td><em>{{ division }} *</em></td>
          {% else %}
            <td>{{ division }}</td>
          {% endif %}
          <td>{{ data.w }} - {{ data.l }} - {{ data.t }}</td>
          <td>{{ data.pct|number_format(3) }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      <div class="footnote"><em>* The Central divisions were only around for 2000 &amp; 2001, before the NFL realignment.</em></div>
    </div>

    <p>
      Ok, this isn't really fair since we're including the Patriots in this and they've been otherworldly as we've
      already established. On the other hand, if we remove the Patriots from the results the AFC will plummet:
    </p>

    <div class="card-panel hoverable grey lighten-4">
      <table>
        <thead>
        <tr>
          <th>Division</th>
          <th>W - L - T</th>
          <th>Win Percentage</th>
        </tr>
        </thead>
        <tbody>
        {% for division, data in record.division_records %}
          {% if division == 'AFC East' %}
            <tr class="red-text darken-4 bold">
          {% else %}
            <tr>
          {% endif %}
          {% if (division == 'NFC Central') or (division == 'AFC Central') %}
            <td><em>{{ division }} *</em></td>
          {% else %}
            <td>{{ division }}</td>
          {% endif %}
            <td>{{ data.w }} - {{ data.l }} - {{ data.t }}</td>
            <td>{{ data.pct|number_format(3) }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      <div class="footnote"><em>* The Central divisions were only around for 2000 &amp; 2001, before the NFL realignment.</em></div>
    </div>

    <p>
      But again, this isn't fair to the AFC East. Of course you're going to look bad if you take away the best record
      from your division every year. And it just so happens that the Patriots have finished the season with the best
      record in the AFC East every year -- even when they don't win the division. So what happens when we remove
      <em>every</em> season's division winner from the equation?
    </p>

    <div class="card-panel hoverable grey lighten-4">
      <table>
        <thead>
        <tr>
          <th>Division</th>
          <th>W - L - T</th>
          <th>Win Percentage</th>
        </tr>
        </thead>
        <tbody>
        {% for division, data in record.div_minus_winners %}
          {% if division == 'AFC East' %}
            <tr class="red-text darken-4 bold">
          {% else %}
            <tr>
          {% endif %}
          {% if (division == 'NFC Central') or (division == 'AFC Central') %}
            <td><em>{{ division }} *</em></td>
          {% else %}
            <td>{{ division }}</td>
          {% endif %}
          <td>{{ data.w }} - {{ data.l }} - {{ data.t }}</td>
          <td>{{ data.pct|number_format(3) }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      <div class="footnote"><em>* The Central divisions were only around for 2000 &amp; 2001, before the NFL realignment.</em></div>
    </div>

    <p>
      Huh. The AFC East is back on top when you remove the best team from each division, which leads me to believe that
      the rest of the AFC East hasn't been "easy" by any stretch. What this shows is that in the 2nd - 4th spot in any
      division, the AFC East has the best record, regardless of who was in that spot.
    </p>

    <p>
      But some claim that it's unfair to remove the division winner for each season, since that punishes teams that
      have a good year and win the division occasionally. They argue that the comparison should be removing the best
      teams from each division since 2000. So let's put that argument to the test and compare divisions when removing
      the best performing team.
    </p>

    <div class="card-panel hoverable grey lighten-4">
      <table>
        <thead>
        <tr>
          <th>Division</th>
          <th>W - L - T</th>
          <th>Win Percentage</th>
          <th>Best Team</th>
        </tr>
        </thead>
        <tbody>
        {% for division, data in record.div_minus_best %}
          {% if (division == 'AFC Central') or (division == 'NFC Central') %}
            {# skip #}
          {% else %}
            {% if division == 'AFC East' %}
              <tr class="red-text darken-4 bold">
            {% else %}
              <tr>
            {% endif %}
            <td>{{ division }}</td>
            <td>{{ data.w }} - {{ data.l }} - {{ data.t }}</td>
            <td>{{ data.pct|number_format(3) }}</td>
            <td>{{ data.team['name'] }} ({{ data.team['rec'] }})</td>
            </tr>
          {% endif %}
        {% endfor %}
        </tbody>
      </table>
    </div>


    <p>
      So the AFC East isn't at the top anymore, but neither are they far and away the worst division in football in
      the Brady/Belichick era. Regardless how you run the numbers the AFC East is <strong>still</strong> not the easiest
      division, by a long shot.
    </p>

{###
 ### LACK OF TOP TIER QUARTERBACKS ###
###}
    <hr id="qbs" class="scrollspy">
    <div class="stat-box new-england-patriots">
      <h1 class="center">Lack of Top Tier Quarterbacks</h1>
    </div>

    <p>
      Yet another argument is that the best proof of a weak AFC East is that there haven't been any top tier
      Quarterbacks other than Brady in the division. This one is more subjective than some of the others, but I was still
      curious as to what the QB landscape has been since 2000, so I put together a basic comparison.
    </p>

    <p>
      To make things as fair as possible I grabbed a list of the
      <a href="https://www.pro-football-reference.com/play-index/psl_finder.cgi?request=1&match=combined&year_min=2000&year_max=2018&season_start=1&season_end=-1&pos%5B%5D=qb&draft_year_min=1936&draft_year_max=2018&draft_slot_min=1&draft_slot_max=500&draft_pick_in_round=pick_overall&conference=any&draft_pos%5B%5D=qb&draft_pos%5B%5D=rb&draft_pos%5B%5D=wr&draft_pos%5B%5D=te&draft_pos%5B%5D=e&draft_pos%5B%5D=t&draft_pos%5B%5D=g&draft_pos%5B%5D=c&draft_pos%5B%5D=ol&draft_pos%5B%5D=dt&draft_pos%5B%5D=de&draft_pos%5B%5D=dl&draft_pos%5B%5D=ilb&draft_pos%5B%5D=olb&draft_pos%5B%5D=lb&draft_pos%5B%5D=cb&draft_pos%5B%5D=s&draft_pos%5B%5D=db&draft_pos%5B%5D=k&draft_pos%5B%5D=p&c1stat=gs&c1comp=gt&c1val=16&c5val=1.0&order_by=pass_rating" target="_blank">
        top 50 Quarterbacks ordered by Passer Rating</a>, filtering by players who had played at least 16 games
      (to normalize the list a little bit for QBs who have played at least one full season of games). I realize that
      Passer Rating isn't a perfect system, but it gives us a baseline with which to judge each player, and there still
      hasn't been a clear successor to this rating yet. The results were... surprising, to say the least.
    </p>

    <p>
      Here's the list grouped by division for the NFC. The number before each player is their overall rank in the top 50.
    </p>

    <div class="card-panel hoverable grey lighten-4">
    <table>
      <thead>
        <tr><th colspan="8" class="center blue darken-2 white-text">NFC</th></tr>
        <tr>
          <th colspan="2" class="center blue-text darken-2">North (8)</th>
          <th colspan="2" class="center blue-text darken-2">South (4)</th>
          <th colspan="2" class="center blue-text darken-2">East (8)</th>
          <th colspan="2" class="center blue-text darken-2">West (8)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2</td><td>Aaron Rodgers</td>
          <td>6</td><td>Drew Brees</td>
          <td>8</td><td>Tony Romo</td>
          <td>4</td><td>Russell Wilson</td>
        </tr>
        <tr>
          <td>28</td><td>Matthew Stafford</td>
          <td>12</td><td>Matt Ryan</td>
          <td>9</td><td>Dak Prescott</td>
          <td>13</td><td>Jared Goff</td>
        </tr>
        <tr>
          <td>31</td><td>Daunte Culpepper</td>
          <td>32</td><td>Jameis Winston</td>
          <td>11</td><td>Kirk Cousins</td>
          <td>17</td><td>Kurt Warner</td>
        </tr>
        <tr>
          <td>33</td><td>Mitchell Trubisky</td>
          <td>38</td><td>Cam Newton</td>
          <td>16</td><td>Carson Wentz</td>
          <td>23</td><td>Colin Kaepernick</td>
        </tr>
        <tr>
          <td>39</td><td>Teddy Bridgewater</td>
          <td></td><td></td>
          <td>27</td><td>Nick Foles</td>
          <td>26</td><td>Jeff Garcia</td>
        </tr>
        <tr>
          <td>41</td><td>Jay Cutler</td>
          <td></td><td></td>
          <td>29</td><td>Robert Griffin</td>
          <td>34</td><td>Alex Smith</td>
        </tr>
        <tr>
          <td>42</td><td>Brett Favre</td>
          <td></td><td></td>
          <td>37</td><td>Donovan McNabb</td>
          <td>45</td><td>Sam Bradford</td>
        </tr>
        <tr>
          <td>44</td><td>Shaun Hill</td>
          <td></td><td></td>
          <td>50</td><td>Eli Manning</td>
          <td>47</td><td>Marc Bulger</td>
        </tr>
      </tbody>
      <tfoot class="table-totals">
        <tr class="bold">
          <td>32.5</td><td>Average Position</td>
          <td>22</td><td>Average Position</td>
          <td>23.375</td><td>Average Position</td>
          <td>26.125</td><td>Average Position</td>
        </tr>
      </tfoot>
    </table>
    </div>

    <p>And here's the list grouped by division for the AFC. Again, the number before each player is their overall rank in the top 50.</p>

    <div class="card-panel hoverable grey lighten-4">
    <table>
      <thead>
      <tr><th colspan="8" class="center red darken-2 white-text">AFC</th></tr>
      <tr>
        <th colspan="2" class="center red-text darken-2">North (5)</th>
        <th colspan="2" class="center red-text darken-2">South (8)</th>
        <th colspan="2" class="center red-text darken-2">East (4)</th>
        <th colspan="2" class="center red-text darken-2">West (5)</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>14</td><td>Ben Roethlisberger</td>
        <td>3</td><td>Deshaun Watson</td>
        <td>7</td><td>Tom Brady</td>
        <td>1</td><td>Patrick Mahomes</td>
      </tr>
      <tr>
        <td>15</td><td>Rich Gannon</td>
        <td>5</td><td>Peyton Manning</td>
        <td>18</td><td>Chad Pennington</td>
        <td>10</td><td>Philip Rivers</td>
      </tr>
      <tr>
        <td>25</td><td>Andy Dalton</td>
        <td>20</td><td>Andrew Luck</td>
        <td>19</td><td>Tyrod Taylor</td>
        <td>24</td><td>Derek Carr</td>
      </tr>
      <tr>
        <td>30</td><td>Carson Palmer</td>
        <td>21</td><td>Marcus Mariota</td>
        <td>35</td><td>Ryan Tannehill</td>
        <td>36</td><td>Trent Green</td>
      </tr>
      <tr>
        <td>49</td><td>Joe Flacco</td>
        <td>22</td><td>Matt Schaub</td>
        <td>48</td><td>Brian Griese</td>
      </tr>
      <tr>
        <td></td><td></td>
        <td>40</td><td>David Garrard</td>
      </tr>
      <tr>
        <td></td><td></td>
        <td>43</td><td>Steve McNair</td>
      </tr>
      <tr>
        <td></td><td></td>
        <td>46</td><td>Case Keenum</td>
      </tr>
      </tbody>
      <tfoot class="table-totals">
      <tr class="bold">
        <td>26.6</td><td>Average Position</td>
        <td>25</td><td>Average Position</td>
        <td>19.75</td><td>Average Position</td>
        <td>23.8</td><td>Average Position</td>
      </tr>
      </tfoot>
    </table>
    </div>

    <p>
      Some takeaways:
      <ol>
        <li>Divisions with future Hall of Fame class QBs (Brady, Roethlisberger, Brees) tend to have less representation in the list.</li>
        <li>For as bad as their numbers have been so far in this blog, the AFC South is well represented for some reason.</li>
        <li>The NFC East has had quite a few quality QBs.</li>
        <li>According to the numbers, out of the top 50 QBs the AFC East has the highest average QBs since 2000.</li>
      </ol>
    </p>

    <p>
      While I agree that this might not be the most comprehensive comparison, it still shows that the AFC East has had
      somewhat similar production from their top QBs than other divisions in the same situation. If you have any other
      research ideas for this, let me know.
    </p>

{###
 ### LACK OF SERIOUS CHALLENGERS ###
###}
    <hr id="challengers" class="scrollspy">
    <div class="stat-box new-england-patriots">
      <h1 class="center">Lack of Serious Challengers</h1>
    </div>

    <p>
      The last argument (so far) about the myth is that the Patriots haven't had to worry about any serious challengers
      over the course of the dynasty years. The criticism boils down to the fact that because the other teams in the AFC
      East have been consistently mediocre, allowing the Patriots to coast to a first-round bye whenever they make the
      playoffs.
    </p>
    <p>
      For this we'll have to make some baseline assumptions to be able to compare each division over the years. There
      seems to be some data supporting the idea that the cutoff for making the playoffs is a
      <a href="https://www.reddit.com/r/nfl/comments/3padhn/a_chart_that_shows_percentage_chance_to_make/">10 win
        season</a>, we can compare each division by how many times they've had multiple 10+ game winners in the
      division. This should give us a good idea of how many times the division winner has had "serious" competition
      from a division rival.
    </p>
    <div class="card-panel hoverable grey lighten-4">
      <table>
        <thead>
          <th>Division</th>
          <th>Count</th>
          <th>Seasons</th>
        </thead>
        <tbody>
          {% for div,data in tenwins %}
            <tr {% if div == 'AFC East' %}class="red-text darken-4 bold"{% endif %}>
              {% if (div == 'NFC Central') or (div == 'AFC Central') %}
                <td><em>{{ div }} *</em></td>
              {% else %}
                <td>{{ div }}</td>
              {% endif %}
              <td>{{ data.count }}</td>
              <td>
                {% for year in data.seasons %}
                    {{ year }}{% if not loop.last %}, {% endif %}
                {% endfor %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="footnote"><em>* The Central divisions were only around for 2000 &amp; 2001, before the NFL realignment.</em></div>
    </div>

    <p>
      A few things stand out with this one:
      <ol>
        <li>There isn't a whole lot of separation between the divisions in this comparison.</li>
        <li>The AFC East is once again not at the bottom of this list, showing that they're (still) not as bad as critics make them out to be.</li>
      </ol>
    </p>

    <p>
      Another thing to keep in mind is this: if the Patriots <em>hadn't</em> been the dominant force over the past 20ish 
      years, would the rest of the AFC East teams look as mediocre? This is a bigger topic than this article can tackle, 
      so I've written about that here: <a href="/blog/2019/06-25/what-does-afc-east-look-if-patriots-werent-dynasty">
        What Does the AFC East Look Like if the Patriots Weren't a Dynasty?</a>
    </p>

    <p>
      While I plan on continuing to update this post as more arguments arise, hopefully this puts to rest the myth of
      the "easy" AFC East.
    </p>
  </div>
  </div>
  </div>
</article>
