{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - css: A list of CSS files for the current page.
 * - head: Markup for the HEAD element (including meta tags, keyword tags, and
 *   so on).
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - styles: Style tags necessary to import all necessary CSS files in the head.
 * - scripts: Script tags necessary to load the JavaScript files and settings
 *   in the head.
 * - db_offline: A flag indicating if the database is offline.
 *
 * @see template_preprocess_html()
 */
#}
{%
  set body_classes = [
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'node--type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
  ]

%}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
      <head-placeholder token="{{ placeholder_token|raw }}">
      <title>{{ head_title|safe_join(' | ') }}</title>
      <css-placeholder token="{{ placeholder_token|raw }}">
      <js-placeholder token="{{ placeholder_token|raw }}">
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body{{ attributes.addClass(body_classes) }} style="background: {{ body_bg }}">
  <script>
      jQuery(function($){
          $( document ).ready(function() {
              var url = 'https://api.gfycat.com/v1/gfycats/'
              $('.gfyitem').each(function(index) {
                  var gifID = $(this).data('id')
                  var blockID = $(this).attr('id')
                  var itemImg = $(this)
                  $.get( url+gifID, function( data ) {
                      var videoString = '<div id="'+blockID+'"><video controls muted preload="metadata" class="responsive-video"><source src="'+data.gfyItem.mp4Url+'" type="video/mp4; codecs=\"avc1.42E01E, mp4a.40.2\""><source src="'+data.gfyItem.webmUrl+'" type="video/webm; codecs=\"vp8, vorbis\""></video></div>'
                      itemImg.replaceWith(
                          videoString
                      )
                  }).fail(function() {
                    var url = 'https://api.redgifs.com/v1/gfycats/'
                    $.get( url+gifID, function( data ) {
                      var videoString = '<div id="'+blockID+'"><video controls muted preload="metadata" class="responsive-video"><source src="'+data.gfyItem.mp4Url+'" type="video/mp4; codecs=\"avc1.42E01E, mp4a.40.2\""><source src="'+data.gfyItem.webmUrl+'" type="video/webm; codecs=\"vp8, vorbis\""></video></div>'
                      itemImg.replaceWith(
                        videoString
                      )
                    })
                  });
              })
          })
      });

  </script>
  <a href="#main-content" class="visually-hidden focusable skip-link">
      {{ 'Skip to main content'|t }}
  </a>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token|raw }}">
    <script>
        jQuery(function($){
            $(document).ready(function(){
                $('.button-collapse').sideNav();
                $('.collapsible').collapsible({
                    accordion : false
                });
              $('.modal').modal();
            });
        });
        jQuery(function($) {
            $(document).ready(function () {
                $("#qb-table").tablesorter({
                    sortInitialOrder: 'desc'
                });
                $(".sorttable").tablesorter({
                    sortInitialOrder: 'desc'
                });
            });
        });
    </script>
  </body>
</html>
