{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
<div class="row">
  <div class="col s12">
    <h1>Patriots Highlight GIF Search</h1>
    <p class="flow-text">
      Search for your favorite plays of the Patriots Dynasty in gif form! Enter
      a player name (brady), a play type (sack), or an opponent (dolphins) to show all gifs related to
      your search.
    </p>
    <p class="flow-text">
      You can even search for multiple players if you're looking for a certain
      connection. Try searching for combinations like "<a href="/gif-search?search=brady+moss">brady moss</a>" or "<a href="/gif-search?search=edelman+amendola">edelman
      amendola</a>" to see any plays involving both players. Or "<a href="/gif-search?search=gronk+steelers">gronk steelers</a>" to find all Gronk highlights vs the Steelers.
    </p>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <div class="card-panel">
      {{ title_prefix }}
      {% if label %}
        <h2{{ title_attributes }}>{{ label }}</h2>
      {% endif %}
      {{ title_suffix }}
      {% block content %}
        {{ content }}
      {% endblock %}
    </div>
  </div>
</div>
