
.total {
    padding: 1em;
    padding-top: 1.5em;
    line-height: 1;
    box-shadow: 6px 8px 13px 0 rgba(4,4,4,.17);
}

/* Pie Chart CSS */
.pie {
    position: relative;
    width: 5.75em;
    height: 5.75em;
    border-radius: 50%;
    background: #053c65;
    background-image: linear-gradient(to right, transparent 50%, #c41334 0);
    color: transparent;
    text-align: center;
    z-index: 0;
    border: .17em solid #c41334;
}
.pie-overlay {
    z-index: 1;
    position: absolute;
}
@keyframes spin {
    to { transform: rotate(.5turn); }
}
@keyframes bg {
    50% { background: #053c65; }
}

.pie::before {
    content: '';
    position: absolute;
    top: 0; left: 50%;
    width: 50%; height: 100%;
    border-radius: 0 100% 100% 0 / 50%;
    background-color: inherit;
    transform-origin: left;
    animation: spin 50s linear infinite,
    bg 100s step-end infinite;
    animation-play-state: paused;
    animation-delay: inherit;
}
.stat-contain {
    clear: both;
    display: flex;
    padding: 1em;
}

/* Total stats pie graphs */
.total.nfl {
    float: none;
    color: white;
    font-size: 200% !important;
    padding: 2em;
}
.total.nfl, .total.afc, .total.nfc {
    font-size: 160%;
    text-align: center;
    margin: 0;
}
.total.afc,
.total.nfc,
.total.afc-div,
.total.nfc-div {
    color: white;
}
.total.nfl.pie {
    width: 8em;
    height: 8em;
    margin-bottom: 1em;
}

.total.afc-div.pie,
.total.nfc-div.pie {
    width: 6.5em;
    height: 6.5em;
}

.graph {
    width: inherit;
    margin: 0 auto;
}

details.boxscore > div > div {
  flex: 0 16%;
  width: 10px;
}

details.boxscore > div {
  display: flex;
  flex-wrap: wrap;
}

.win {
  color: green;
}

.loss {
  color: red;
}
