{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{{ title_prefix }}
{% if label %}
  <h2{{ title_attributes }}>{{ label }}</h2>
{% endif %}
{{ title_suffix }}

{% block content %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
{% set total_tds = 0 %}
{# Overall Tabs #}
<div class="row">
  <div class="col s12 offset-s1">
  <ul class="tabs">
    <li class="tab col s5 card-panel"><a href="#charts" class="hoverable">Charts</a></li>
    <li class="tab col s5 card-panel"><a href="#viz" class="hoverable">Data Viz</a></li>
  </ul>
  </div>
</div>
{# Sub Tabs #}
<div id="charts" class="col s12">
{#  Chart Tabs  #}
  <div class="row">
    <div class="col s12 offset-s1 hide-on-small-only">
      <ul class="tabs">
        <li class="tab col s2 card-panel"><a class="hoverable" href="#td_rec">TDs by Receiver</a></li>
        <li class="tab col s2 card-panel"><a class="hoverable" href="#td_quart">TDs by Quarter</a></li>
        <li class="tab col s2 card-panel"><a class="hoverable" href="#td_yards">TDs by Distance</a></li>
        <li class="tab col s2 card-panel"><a class="hoverable" href="#td_position">TDs by Position</a></li>
        <li class="tab col s2 card-panel"><a class="hoverable" href="#all_tds">TDs by Season</a></li>
      </ul>
    </div>
    <div class="col s12 offset-s1 hide-on-med-and-up">
      <ul class="tabs">
        <li class="tab col s2 card-panel"><a class="hoverable" href="#td_rec">by WR</a></li>
        <li class="tab col s2 card-panel"><a class="hoverable" href="#td_quart">by Qtr</a></li>
        <li class="tab col s2 card-panel"><a class="hoverable" href="#td_yards">by Dist</a></li>
        <li class="tab col s2 card-panel"><a class="hoverable" href="#td_position">by Pos</a></li>
        <li class="tab col s2 card-panel"><a class="hoverable" href="#all_tds">by Year</a></li>
      </ul>
    </div>
    <div id="td_rec" class="col s12">
      <div class="section"></div>
      <div class="row">
        <div class="col s12 m6">
          <div class="card-panel" id="brady_td_chart"></div>
          <script type="application/javascript">
              Highcharts.setOptions({
                  colors: ['#002244', '#85888B', '#C60C30', '#85888B'],
              });
            Highcharts.chart('brady_td_chart', {
              chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
              },
              title: {
                text: 'Brady TD Passes by Receiver'
              },
              tooltip: {
                pointFormat: '<b>{point.percentage:.1f}%</b>'
              },
              plotOptions: {
                pie: {
                  allowPointSelect: true,
                  cursor: 'pointer',
                  dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                  }
                }
              },
              series: [{
                name: 'Players',
                colorByPoint: true,
                data: [
                  {% for item in playercount %}
                  {
                  name: '{{ item.player }}',
                  y: {{ item.count }},
                },
                  {% set total_tds = total_tds + item.count %}
                  {% endfor %}
                ]
              }]
            });
          </script>
        </div>
        <div class="col s12 m6">
          <ul class="collapsible" data-collapsible="accordion">
            <li class="collapsible-header blue darken-4 white-text">Total TDs ({{ total_tds }})</li>
          {% for player, gifs in players %}
            <li>
              <div class="collapsible-header">{{ loop.index }}.) {{ player }} ({{ gifs|length }})<i class="material-icons right">arrow_drop_down</i></div>
              <div class="collapsible-body">
                  <div class="collection">
                    {% for gif in gifs %}
                      <a href="{{ gif.link }}" class="collection-item blue-text">{{ loop.index }}.) {{ gif.title }} ({{ gif.season }} {{ gif.week }} vs {{ gif.opp }})</a>
                    {% endfor %}
                  </div>
                </div>
            </li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <div id="td_quart" class="col s12">
      <div class="section"></div>
      <div class="row">
        <div class="col s12 m6">
          <div class="card-panel" id="brady_quarters_chart"></div>
          <script type="application/javascript">
              Highcharts.setOptions({
                  colors: ['#002244', '#85888B', '#C60C30', '#85888B']
              });
            Highcharts.chart('brady_quarters_chart', {
              chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
              },
              title: {
                text: 'Brady TD Passes by Quarter'
              },
              tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
              },
              plotOptions: {
                pie: {
                  allowPointSelect: true,
                  cursor: 'pointer',
                  dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                  }
                }
              },
              series: [{
                name: 'Quarter',
                colorByPoint: true,
                data: [
                  {% for quarter, count in q_count %}
                  {
                    name: '{{ quarter }}',
                    y: {{ count }},
                  },
                  {% endfor %}
                ]
              }]
            });
          </script>
        </div>
        <div class="col s12 m6">
          <ul class="collapsible" data-collapsible="accordion">
            <li class="collapsible-header blue darken-4 white-text">Total TDs ({{ total_tds }})</li>
            {% for quarter, gifs in quarters %}
              <li>
                <div class="collapsible-header">{{ quarter }} ({{ gifs|length }})<i class="material-icons right">arrow_drop_down</i></div>
                <div class="collapsible-body">
                  <div class="collection">
                    {% for gif in gifs %}
                      <a href="{{ gif.link }}" class="collection-item blue-text">{{ loop.index }}.) {{ gif.title }} ({{ gif.season }} vs {{ gif.opp }})</a>
                    {% endfor %}
                  </div>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <div id="td_yards" class="col s12">
      <div class="section"></div>
      <div class="row">
        <div class="col s12 m6">
          <div class="card-panel" id="brady_distance_chart"></div>
          <script type="application/javascript">
              Highcharts.setOptions({
                  colors: ['#002244', '#85888B', '#C60C30', '#85888B']
              });
              Highcharts.chart('brady_distance_chart', {
                  chart: {
                      type: 'column'
                  },
                  title: {
                      text: 'Total Tom Brady TD Passes'
                  },
                  subtitle: {
                      text: 'Sorted by distance'
                  },
                  xAxis: {
                      type: 'category',
                      crosshair: true,
                      title: {
                          text: 'Yards'
                      }
                  },
                  yAxis: {
                      min: 0,
                      title: {
                          text: 'TD Passes'
                      }
                  },
                  tooltip: {
                      headerFormat: '<span>{point.key} yard TD pass</span><table>',
                      pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                          '<td style="padding:0"><b>{point.y}</b></td></tr>',
                      footerFormat: '</table>',
                      shared: true,
                      useHTML: true
                  },
                  plotOptions: {
                      column: {
                          pointPadding: 0.2,
                          borderWidth: 0
                      }
                  },
                  legend: {
                      enabled: false
                  },
                  series: [{
                      name: 'TDs Thrown',
                      data: [
                        {% for distance, gifs in tdyards %}
                          [{{ distance }}, {{ gifs|length }}],
                        {% endfor %}
                      ]

                  }]
              });
          </script>
        </div>
        <div class="col s12 m6">
          <ul class="collapsible" data-collapsible="accordion">
            <li class="collapsible-header blue darken-4 white-text">Total TDs ({{ total_tds }})</li>
            {% for distance, gifs in tdyards %}
              <li>
                <div class="collapsible-header">{{ distance }} yards ({{ gifs|length }})<i class="material-icons right">arrow_drop_down</i></div>
                <div class="collapsible-body">
                  <div class="collection">
                    {% for gif in gifs %}
                      <a href="{{ gif.link }}" class="collection-item blue-text">{{ loop.index }}.) {{ gif.title }} ({{ gif.season }} {{ gif.week }} vs {{ gif.opp }})</a>
                    {% endfor %}
                  </div>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <div id="td_position" class="col s12">
      <div class="section"></div>
      <div class="row">
        <div class="col s12 m6">
          <div class="card-panel" id="brady_pos_chart"></div>
          <script type="application/javascript">
              Highcharts.setOptions({
                  colors: ['#002244', '#85888B', '#C60C30', '#85888B'],
              });
              Highcharts.chart('brady_pos_chart', {
                  chart: {
                      plotBackgroundColor: null,
                      plotBorderWidth: null,
                      plotShadow: false,
                      type: 'pie'
                  },
                  title: {
                      text: 'Brady TD Passes by Position'
                  },
                  tooltip: {
                      pointFormat: '<b>{point.percentage:.1f}%</b>'
                  },
                  plotOptions: {
                      pie: {
                          allowPointSelect: true,
                          cursor: 'pointer',
                          dataLabels: {
                              enabled: true,
                              format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                          }
                      }
                  },
                  series: [{
                      name: 'Players',
                      colorByPoint: true,
                      data: [
                        {% for position, gifs in tdposition %}
                          {
                              name: '{{ position }}',
                              y: {{ gifs|length }},
                          },
                        {% endfor %}
                      ]
                  }]
              });
          </script>
        </div>
        <div class="col s12 m6">
          <ul class="collapsible" data-collapsible="accordion">
            <li class="collapsible-header blue darken-4 white-text">Total TDs ({{ total_tds }})</li>
            {% for pos, gifs in tdposition %}
              <li>
                <div class="collapsible-header">{{ pos }}s ({{ gifs|length }})<i class="material-icons right">arrow_drop_down</i></div>
                <div class="collapsible-body">
                  <div class="collection">
                    {% for gif in gifs %}
                      <a href="{{ gif.link }}" class="collection-item blue-text">{{ loop.index }}.) {{ gif.title }} ({{ gif.season }} {{ gif.week }} vs {{ gif.opp }})</a>
                    {% endfor %}
                  </div>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <div id="all_tds" class="col s12">
      <div class="section"></div>
      <div class="row">
        <div class="col s12 m6">
          <div class="card-panel" id="brady_season_chart"></div>
          <script type="application/javascript">
              Highcharts.setOptions({
                  colors: ['#002244', '#85888B', '#C60C30', '#85888B']
              });
              Highcharts.chart('brady_season_chart', {

                  title: {
                      text: 'Total Tom Brady TD Passes'
                  },
                  subtitle: {
                      text: 'Sorted by season'
                  },
                  xAxis: {
                      type: 'category',
                      crosshair: true,
                      title: {
                          text: 'Season'
                      }
                  },
                  yAxis: {
                      min: 0,
                      title: {
                          text: 'TD Passes'
                      }
                  },
                  tooltip: {
                      headerFormat: '<span>{point.key} season</span><table>',
                      pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                          '<td style="padding:0"><b>{point.y}</b></td></tr>',
                      footerFormat: '</table>',
                      shared: true,
                      useHTML: true
                  },
                  plotOptions: {
                      column: {
                          pointPadding: 0.2,
                          borderWidth: 0
                      }
                  },
                  legend: {
                      enabled: false
                  },
                  series: [{
                      name: 'TDs Thrown',
                      data: [
                        {% for season, weeks in alltds %}
                          {% set td = 0 %}
                          {% for game in weeks %}
                            {% for tds in game %}
                              {% set td = td + 1 %}
                            {% endfor %}
                          {% endfor %}
                          [{{ season }}, {{ td }}],
                        {% endfor %}
                      ]

                  }]
              });
          </script>
        </div>
        <div class="col s12 m6">
          <ul class="collapsible" data-collapsible="accordion">
            <li class="collapsible-header blue darken-4 white-text">Total TDs ({{ total_tds }})</li>
            {% for season, weeks in alltds %}
              <li>
                <div class="collapsible-header">{{ season }}<i class="material-icons right">arrow_drop_down</i></div>
                <div class="collapsible-body">
                  <div class="collection">
                    {% set i = 0 %}
                    {% for gifs in weeks %}
                      {% for gif in gifs %}
                        {% set i = i + 1 %}
                        <a href="{{ gif.link }}" class="collection-item blue-text">{{ i }}.) {{ gif.title }} ({{ gif.season }} {{ gif.week }} vs {{ gif.opp }})</a>
                      {% endfor %}
                    {% endfor %}
                  </div>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="viz" class="col s12">
  <div class="row">
    <div class="col s4 m2">
      <div class="card ">
        <div class="card-content">
          <span class="card-title black-text">Legend</span>
          <ul>
            <li><span class="blue-text">Blue:</span> Regular Season</li>
            <li><span class="red-text">Red:</span> Playoffs</li>
            <li><span class="yellow-text text-darken-4">Gold:</span> Super Bowl</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col s8 m10">
      <h2>Filter Passes</h2>

      <div class="row">
        <a onclick="filterTDs('q-1')" class="btn blue darken-4 white-text">1Q</a>
        <a onclick="filterTDs('q-2')" class="btn blue darken-4 white-text">2Q</a>
        <a onclick="filterTDs('q-3')" class="btn blue darken-4 white-text">3Q</a>
        <a onclick="filterTDs('q-4')" class="btn blue darken-4 white-text">4Q</a>
        <a onclick="filterTDs('q-5')" class="btn blue darken-4 white-text">OT</a>
      </div>

      <div class="row">
        <a onclick="filterTDs('reg-season')" class="btn blue darken-4 white-text">Reg Season</a>
        <a onclick="filterTDs('playoffs')" class="btn blue darken-4 white-text">Playoffs</a>
        <a onclick="filterTDs('super-bowl')" class="btn blue darken-4 white-text">Super Bowl</a>
      </div>

      <div class="row">
        <div class="col">
          <select class="opp_filter">
            <option value="play">-- Select a Team --</option>
            <option value='san-fransisco-49ers'>49ers</option>
            <option value='chicago-bears'>Bears</option>
            <option value='cincinnati-bengals'>Bengals</option>
            <option value='buffalo-bills'>Bills</option>
            <option value='denver-broncos'>Broncos</option>
            <option value='cleveland-browns'>Browns</option>
            <option value='tampa-bay-buccaneers'>Buccaneers</option>
            <option value='arizona-cardinals'>Cardinals</option>
            <option value='los-angeles-chargers'>Chargers</option>
            <option value='kansas-city-chiefs'>Chiefs</option>
            <option value='indianapolis-colts'>Colts</option>
            <option value='dallas-cowboys'>Cowboys</option>
            <option value='miami-dolphins'>Dolphins</option>
            <option value='philadelphia-eagles'>Eagles</option>
            <option value='atlanta-falcons'>Falcons</option>
            <option value='new-york-giants'>Giants</option>
            <option value='jacksonville-jaguars'>Jaguars</option>
            <option value='new-york-jets'>Jets</option>
            <option value='detroit-lions'>Lions</option>
            <option value='green-bay-packers'>Packers</option>
            <option value='carolina-panthers'>Panthers</option>
            <option value='oakland-raiders'>Raiders</option>
            <option value='los-angeles-rams'>Rams</option>
            <option value='baltimore-ravens'>Ravens</option>
            <option value='washington-redskins'>Redskins</option>
            <option value='new-orleans-saints'>Saints</option>
            <option value='seattle-seahawks'>Seahawks</option>
            <option value='pittsburgh-steelers'>Steelers</option>
            <option value='houston-texans'>Texans</option>
            <option value='tennessee-titans'>Titans</option>
            <option value='minnesota-vikings'>Vikings</option>
          </select>
        </div>
        <div class="col">
          <a onclick="clearFilters()" class=" btn red darken-4 white-text">Reset</a>
        </div>`
      </div>

    </div>
  </div>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <div id="field" ></div>
    <script>
      var width = '100%';
      var height = '100%';
      var widthpx = 3600;
      var heightpx = 1600;
      var yellow = 'yellow';
      var blue = '#002244';
      var red = 'red';
      var data = d3.json('/brady-td-json', function(error, data) {
        // Create SVG element field
        var field = d3.select("div#field")
          .append("svg")
          .attr("preserveAspectRatio", "xMinYMin meet")
          .attr("viewBox", function () {
            return '0 0 ' + heightpx + ' ' + widthpx;
          })
          .attr('class', 'field-svg');

        // Create top end zone
        field.append("rect")
          .attr("x", 0)
          .attr("y", 0)
          .attr("width", width)
          .attr("height", 300)
          .attr('fill', 'rgba(255, 255, 255, 0.5)')
          .attr('stroke', 'white')
          .attr('stroke-width', '5');

        // Create bottom end zone
        field.append("rect")
          .attr("x", 0)
          .attr("y", 3300)
          .attr("width", width)
          .attr("height", 300)
          .attr('fill', 'rgba(255, 255, 255, 0.5)')
          .attr('stroke', 'white')
          .attr('stroke-width', '5');

        // Create yard lines
        field.each(function(d){
          var line = d3.select(this)
            .attr('fill', 'rgba(255, 255, 255, 0.5)')
            .attr('stroke', 'white')
            .attr('stroke-width', '2.5');
          for (var i = 1; i < 100; i++) {
            line.append('line')
              .attr('x1', 575)
              .attr('y1', i*30 + 300)
              .attr('x2', 625)
              .attr('y2', i*30 + 300);
            line.append('line')
              .attr('x1', 975)
              .attr('y1', i*30 + 300)
              .attr('x2', 1025)
              .attr('y2', i*30 + 300);
            if (i % 5 === 0) {
              line.append('line')
                .attr('x1', 0)
                .attr('y1', i*30 + 300)
                .attr('x2', width)
                .attr('y2', i*30 + 300);
              if (i % 2 === 0) {
                line.append("text")
                  .attr("x", 10)
                  .attr("y", i*30 + 300)
                  .attr("transform", function (d) {
                    if (i < 50) {
                      var y = i * 30 + 300;
                      return "rotate(90,90," + y + ")";
                    }
                    else  if (i > 50) {
                      var y = i * 30 + 320;
                      return "rotate(90,70," + y + ")";
                    }
                    else {
                      var y = i * 30 + 320;
                      return "rotate(90,70," + y + ")";
                    }
                  })
                  .attr('font-size', '5em')
                  .text(function(d) {
                    if (i < 50) {
                      return '<' + i;
                    }
                    else if (i > 50) {
                      return 100 - i + '>';
                    }
                    else {
                      return i;
                    }
                  });
              }
            }
          }
        });



        // Add the passing data
        var pass = field.selectAll('g')
          .data(data)
          .enter()
          .append('g');

        // Add metadata classes for filtering
        pass.attr('class', function (d) {
          var team = d.field_opponent.replace(' ', '-').replace(' ', '-').toLowerCase();
          if (d.field_week > 20) {
            var gameweek = 'super-bowl';
          }
          else if (d.field_week > 17) {
            var gameweek = 'playoffs';
          }
          else {
            var gameweek = 'reg-season'
          }
          var classes = 'play q-' + d.field_quarter + ' ' + d.field_season + ' ' + gameweek + ' ' + team;
          return classes;
        });

        pass.append('a')
          .attr('onclick', function (d) {
            return 'gifModal("' + d.field_gfycat_embed_code + '", "' + d.field_gif_title + '")';
          })
          .attr('class', 'gif-modal')
          .append('line')
          .attr("x1", function(d, i){
            if (d.field_pass_location === "Left Sideline") {
              return 100;
            }
            else if (d.field_pass_location === "Left Outside Numbers") {
              return 300;
            }
            else if (d.field_pass_location === "Left Numbers") {
              return 400;
            }
            else if (d.field_pass_location === "Left") {
              return 500;
            }
            else if (d.field_pass_location === "Middle") {
              return 800;
            }
            else if (d.field_pass_location === "Right") {
              return 1100;
            }
            else if (d.field_pass_location === "Right Numbers") {
              return 1200;
            }
            else if (d.field_pass_location === "Right Outside Numbers") {
              return 1300;
            }
            else {
              return 1500;
            }
          })
          .attr("y1", function(d, i){
            var yards = d.field_yards_gained - d.field_air_yards
            return (yards * 30) + 300;
          })
          .attr("x2", function(d, i){
            if (d.field_pass_thrown_from === "Left Sideline") {
              return 400;
            }
            else if (d.field_pass_thrown_from === "Left Hash") {
              return 600;
            }
            else if (d.field_pass_thrown_from === "Between Hashes (left)") {
              return 725;
            }
            else if (d.field_pass_thrown_from === "Between Hashes") {
              return 800;
            }
            else if (d.field_pass_thrown_from === "Between Hashes (right)") {
              return 925;
            }
            else if (d.field_pass_thrown_from === "Right Hash") {
              return 1000;
            }
            else if (d.field_pass_thrown_from === "Right Sideline") {
              return 1200;
            }
          })
          .attr("y2", function(d, i){
            var yards = d.field_yards_gained
            return (yards * 30 + 300);
          })
          .attr("stroke", function(d, i){
            if (d.field_week == 21) {
              return yellow;
            }
            else if (d.field_week > 17) {
              return red;
            }
            else {
              return blue;
            }
          })
          .attr('stroke-width', '5')

        // Starting circle
        pass.append('circle')
          .attr('cx', function(d, i){
            if (d.field_pass_thrown_from === "Left Sideline") {
              return 400;
            }
            else if (d.field_pass_thrown_from === "Left Hash") {
              return 600;
            }
            else if (d.field_pass_thrown_from === "Between Hashes (left)") {
              return 725;
            }
            else if (d.field_pass_thrown_from === "Between Hashes") {
              return 800;
            }
            else if (d.field_pass_thrown_from === "Between Hashes (right)") {
              return 925;
            }
            else if (d.field_pass_thrown_from === "Right Hash") {
              return 1000;
            }
            else if (d.field_pass_thrown_from === "Right Sideline") {
              return 1200;
            }
          })
          .attr("cy", function(d, i){
            var yards = d.field_yards_gained
            return yards * 30 + 300;
          })
          .attr("r", 5)
          .attr('fill', function(d, i){
            return '#FFFFFF';
          })
        // End circle
        pass.append("circle")
          .attr("cx", function(d, i){
            if (d.field_pass_location === "Left Sideline") {
              return 100;
            }
            else if (d.field_pass_location === "Left Outside Numbers") {
              return 300;
            }
            else if (d.field_pass_location === "Left Numbers") {
              return 400;
            }
            else if (d.field_pass_location === "Left") {
              return 500;
            }
            else if (d.field_pass_location === "Middle") {
              return 800;
            }
            else if (d.field_pass_location === "Right") {
              return 1100;
            }
            else if (d.field_pass_location === "Right Numbers") {
              return 1200;
            }
            else if (d.field_pass_location === "Right Outside Numbers") {
              return 1300;
            }
            else {
              return 1500;
            }
          })
          .attr("cy", function(d, i){
            var yards = d.field_yards_gained - d.field_air_yards
            return (yards * 30) + 300;
          })
          .attr("r", 5)
          .attr('fill', function(d, i){
            if (d.field_week == 21) {
              return yellow;
            }
            else if (d.field_week > 17) {
              return red;
            }
            else {
              return blue;
            }
          })
      });
    </script>
    <script>
      jQuery(function($) {
        $(document).ready(function () {
          $('.opp_filter').change(function () {
            if ($(this).val() != '') {
              filterTDs($(this).val());
            }
          });
        });
      });
      function filterTDs(c) {
        jQuery(function($) {
          $('g').hide();
          $('g.'+c).show();
        });
      }
      function clearFilters() {
        jQuery(function($) {
          $('g').show();
        });
      }

      function gifModal(gif, title) {
        jQuery(function ($) {
          var modalSrc = '';
          var url = 'https://api.gfycat.com/v1/gfycats/';
          $.get( url+gif, function( data ) {
            modalSrc = "<div><video controls muted autoplay preload='metadata' class='responsive-video'>" +
              "<source src='" + data.gfyItem.mp4Url + "' type='video/mp4; codecs=' avc1.42e01e, mp4a.40.2''>" +
              "<source src='" + data.gfyItem.webmUrl + "' type='video/webm; codecs=' vp8, vorbis''>" +
              "</video>" +
              "<p>" + title + "</p></div>";
            // Create modal.
            var imageModal = Drupal.dialog(modalSrc, {
              resizable: false,
              closeOnEscape: true,
              position: { my: "left top", at: "left top+64", of: window },
              height: 'auto',
              width: 'auto',
              beforeClose: false,
              close: function (event) {
                $(event.target).remove();
              }
            });
            // Attach modal functionality to link on click.
            imageModal.showModal();
            $(document).find('.ui-widget-overlay').click(function () {
              imageModal.close();
            });
          }).fail(function() {
            var url = 'https://api.redgifs.com/v1/gfycats/'
            $.get( url+gifID, function( data ) {
              modalSrc = "<video controls muted autoplay preload='metadata' class='responsive-video'>" +
                "<source src='" + data.gfyItem.mp4Url + "' type='video/mp4; codecs=' avc1.42e01e, mp4a.40.2''>" +
                "<source src='" + data.gfyItem.webmUrl + "' type='video/webm; codecs=' vp8, vorbis''>" +
                "</video>";
              // Create modal.
              var imageModal = Drupal.dialog(modalSrc, {
                resizable: false,
                closeOnEscape: true,
                position: { my: "left top", at: "left top+64", of: window },
                height: 'auto',
                width: 'auto',
                beforeClose: false,
                close: function (event) {
                  $(event.target).remove();
                }
              });
              // Attach modal functionality to link on click.
              imageModal.showModal();
              $(document).find('.ui-widget-overlay').click(function () {
                imageModal.close();
              });
            })
          });
        });
      }
    </script>
</div>
{% endblock %}
