{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
<article{{ attributes }}>
{# Get the date range for the x-axis of the graph. #}
{% set xaxis = [] %}
{% for i, week in episodes %}
  {% if i == 2 %}
    {% for w,dl in week %}
      {% if w != 'title' %}
        {% set xaxis = xaxis|merge([w|date('m/d/Y')]) %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}

{% set totaldl = 0 %}
  {% set c = 0 %}
{% for ep, source in totals %}
  {% for name, dl in source %}
    {% set totaldl = totaldl + dl %}
  {% endfor %}
  {% set c = c + 1 %}
{% endfor %}

  {% set days = xaxis|length %}
  {% set average = totaldl / c %}
  {% set avg_day = totaldl / days %}

<script src="https://code.highcharts.com/highcharts.js"></script>

  <div class="container">
    <h1>Podcast Analytics</h1>
    <div class="row">
      <div class="col s12">
        <p class="flow-text">
          We like stats, especially when they relate to the Patriots. So we thought we'd make our own stats public so
          anyone who's interested can see our podcast numbers over the last {{ days }} days since we launched in
          February of 2020. These numbers are exported from our <a href="https://acast.com">podcast host</a> manually, so
          they may be a bit behind, but we'll do our best to keep them as up-to-date as possible.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col s4 center">
        <div class="new-england-patriots stat-box">
          <span class="stat-team flow-text">Total Downloads</span>
          <span class="stat-score">{{ totaldl|number_format(0, '.', ',') }}</span>
        </div>
      </div>
      <div class="col s4 center">
        <div class="new-england-patriots stat-box">
          <span class="stat-team flow-text">Last 30 Days</span>
          <span class="stat-score">{{ last30|number_format(0, '.', ',') }}</span>
        </div>
      </div>
      <div class="col s4 center">
        <div class="new-england-patriots stat-box">
          <span class="stat-team flow-text">Downloads/Episode</span>
          <span class="stat-score">{{ average|number_format(0, '.', ',') }}</span>
        </div>
      </div>

    </div>
  </div>
  <div class="divider"></div>
  <div{{ content_attributes }}>
{#  Stacked chart to see total episode downloads over time  #}
    <div class="container">
      <h2>Total listens over time</h2>
      <p class="flow-text">See how the podcast has grown over time with each episode release.</p>
    </div>
    <div id="stackedchart" style="height: 800px"></div>
    <script type="application/javascript">
        Highcharts.chart('stackedchart', {
            chart: {
                type: 'area'
            },
            title: {
                text: 'Total listens over time'
            },
            xAxis: {
                categories: [{% for x in xaxis %}
                  {% if x|date('l') == 'Wednesday' %}
                  '{{ x }}',
                  {% endif %}
                  {% endfor %}],
                tickmarkPlacement: 'off',
                title: {
                    enabled: false
                }
            },
            yAxis: {
                title: {
                    text: 'Downloads'
                },
                labels: {
                    formatter: function () {
                        return this.value;
                    }
                }
            },
            tooltip: {
                split: false,
                valueSuffix: ' downloads'
            },
            plotOptions: {
                area: {
                    stacking: 'normal',
                    lineColor: '#666666',
                    lineWidth: 1,
                    marker: {
                        enabled: false,
                        symbol: 'circle',
                        radius: 2,
                        states: {
                            hover: {
                                enabled: true
                            }
                        }
                    }
                }
            },
            series: [
              {% for ep in episodes %}
              {% set downloads = '' %}
              {% set count = 0 %}
              {% set epname = ep.title %}

              {% for day, dl in ep %}
                {% if day != 'title' %}
                {% set count = count + dl %}
                  {% if day|date('l') == 'Wednesday' %}
                    {% set downloads = downloads ~ count ~ ', ' %}
                  {% endif %}
                {% endif %}
              {% endfor %}
                {
                    name: '{{ epname }}',
                    data: [{{ downloads }}]
                },
              {% endfor %}
            ]
        });
    </script>
    <div class="divider"></div>
{#  Individual episode downloads over time  #}
    <div class="container">
      <h2>Individual episode downloads over time</h2>
      <p class="flow-text">See how each episode has performed on its own.</p>
    </div>

    <div id="eachchart" style="height: 800px"></div>
    <script type="application/javascript">
        Highcharts.chart('eachchart', {
            chart: {
                type: 'area'
            },
            title: {
                text: 'Individual episode downloads over time'
            },
            xAxis: {
                categories: [{% for x in xaxis %}'{{ x }}', {% endfor %}],
                labels: {
                    formatter: function () {
                        return this.value; // clean, unformatted number for year
                    }
                }
            },
            yAxis: {
                title: {
                    text: 'Downloads'
                },
                labels: {
                    formatter: function () {
                        return this.value;
                    }
                }
            },
            tooltip: {
                split: false,
                valueSuffix: ' downloads'
            },
            plotOptions: {
                area: {
                    marker: {
                        enabled: false,
                        symbol: 'circle',
                        radius: 2,
                        states: {
                            hover: {
                                enabled: true
                            }
                        }
                    }
                }
            },
            series: [{% for ep in episodes %}
              {% set downloads = '' %}
              {% set count = 0 %}
              {% set epname = ep.title %}

              {% for day, dl in ep %}
              {% if day != 'title' %}
              {% set count = count + dl %}
              {% set downloads = downloads ~ dl ~ ', ' %}
              {% endif %}
              {% endfor %}
                {
                    name: '{{ epname }}',
                    data: [{{ downloads }}]
                },
              {% endfor %}]
        });
    </script>
    <div class="divider"></div>
    <div class="container">
        <h2>Top 10 Episodes</h2>
        <p class="flow-text">Which are the most popular episodes? Who knows. But here's the list of the ten most
          downloaded episodes to date.</p>
    </div>
    <div id="top"></div>
    <script type="application/javascript">
        Highcharts.chart('top', {
            chart: {
                type: 'bar'
            },
            title: {
                text: 'Total Downloads by Episode (ranked)'
            },
            xAxis: {
                categories: [{% for ep, src in totals %}{% if loop.index < 11 %} '{{ ep }}', {% endif %}{% endfor %}]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Downloads'
                }
            },
          tooltip: {
            split: true,
            valueSuffix: ' downloads'
          },
          legend: {
                reversed: true
            },
            plotOptions: {
                series: {
                    stacking: 'normal'
                }
            },
            series: [
              {% set acast = '' %}
              {% set spotify = '' %}
              {% for ep, src in totals %}
                {% if loop.index < 11 %}
                  {% set acast = acast ~ src.acast ~ ', '%}
                  {% set spotify = spotify ~ src.spotify ~ ', '%}
                {% endif %}
              {% endfor %}
                {
                    name: 'Acast',
                    data: [{{ acast }}]
                },
                {
                    name: 'Spotify',
                    data: [{{ spotify }}]
                },
            ]
        });
    </script>
    <div class="divider"></div>
    <div class="container">
        <h2>Raw download numbers</h2>
        <p class="flow-text">
          Click on an episode title to see the raw download numbers by date, just to show that we're not lying about
          anything.
        </p>
      <ul class="collapsible">
      {% for week in episodes %}
        <li>
        {% set title = week.title %}
        {% set total = 0 %}
          {% for day, dl in week %}
            {% if day != 'title' %}
              {% set total = total + dl %}
            {% endif %}
          {% endfor %}
          <div class="collapsible-header"><i class="material-icons right">arrow_drop_down</i>{{ title }} ({{ total }} downloads)</div>
          <div class="collapsible-body">
            <table>
              <thead><tr><th>Date</th><th>Downloads</th></tr></thead>
              <tbody>
              {% for day, dl in week %}
                {% if day != 'title' %}
                  <tr><td>{{ day|date('m/d/Y') }}</td><td>{{ dl }}</td></tr>
                {% endif %}
              {% endfor %}
              </tbody>
            </table>
          </div>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
</article>
