{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{% set avg = total/episodes %}
{% set avg30 = first30/episodes %}
  <div class="row">
    <div class="col s6 l3 center">
      <div class="new-england-patriots stat-box">
        <span class="stat-team flow-text">Episodes</span>
        <span class="stat-score">{{ episodes }}</span>
      </div>
    </div>
    <div class="col s6 l3 center">
      <div class="new-england-patriots stat-box">
        <span class="stat-team flow-text">Total Downloads</span>
        <span class="stat-score">{{ total|number_format(0, '.', ',') }}</span>
      </div>
    </div>
    <div class="col s6 l3 center">
      <div class="new-england-patriots stat-box">
        <span class="stat-team flow-text">Downloads/Episode</span>
        <span class="stat-score">{{ avg|number_format(0) }}</span>
      </div>
    </div>
    <div class="col s6 l3 center">
      <div class="new-england-patriots stat-box">
        <span class="stat-team flow-text">Average/First 30 Days</span>
        <span class="stat-score">{{ avg30|number_format(0) }}</span>
      </div>
    </div>
  </div>
