<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<div class="row">
	<div class="col s12">
		<h1>Patriots Win Percentage by Month</h1>
	</div>
</div>
<div class="row">
	<div class="col s12">
		<div id="pats_record" style="min-width: 300px; height: 400px; margin: 0 auto"></div>
	</div>
</div>
<script type="application/javascript">
    Highcharts.setOptions({
        colors: ['#053c65', '#c41334']
    });
    Highcharts.chart('pats_record', {
        chart: {
            type: 'column'
        },

        title: {
            text: undefined
        },
        xAxis: {
            categories: [
                'September<br>Pats: {{ graph['team']['09']['w'] }} - {{ graph['team']['09']['l'] }}<br>Brady: {{ graph['brady']['09']['w'] }} - {{ graph['brady']['09']['l'] }}',
								'October<br>Pats: {{ graph['team']['10']['w'] }} - {{ graph['team']['10']['l'] }}<br>Brady: {{ graph['brady']['10']['w'] }} - {{ graph['brady']['10']['l'] }}',
								'November<br>Pats: {{ graph['team']['11']['w'] }} - {{ graph['team']['11']['l'] }}<br>Brady: {{ graph['brady']['11']['w'] }} - {{ graph['brady']['11']['l'] }}',
								'December<br>Pats: {{ graph['team']['12']['w'] }} - {{ graph['team']['12']['l'] }}<br>Brady: {{ graph['brady']['12']['w'] }} - {{ graph['brady']['12']['l'] }}',
								'January<br>Pats: {{ graph['team']['01']['w'] }} - {{ graph['team']['01']['l'] }}<br>Brady: {{ graph['brady']['01']['w'] }} - {{ graph['brady']['01']['l'] }}',
								'February<br>Pats: {{ graph['team']['02']['w'] }} - {{ graph['team']['02']['l'] }}<br>Brady: {{ graph['brady']['02']['w'] }} - {{ graph['brady']['02']['l'] }}',
						]
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Win Percentage'
            }
        },
        legend: {
            enabled: true
        },
        tooltip: {
            pointFormat: 'Win Percentage: <b>{point.y:.3f}</b>'
        },

        series: [
            {
            name: 'Patriots',
						type: 'column',
            data: [
								{{ graph['team']['09']['pct'] }},
								{{ graph['team']['10']['pct'] }},
								{{ graph['team']['11']['pct'] }},
								{{ graph['team']['12']['pct'] }},
								{{ graph['team']['01']['pct'] }},
								{{ graph['team']['02']['pct'] }}
            ],
        },
				{
						name: 'Brady',
						type: 'column',
						data: [
							{{ graph['brady']['09']['pct'] }},
							{{ graph['brady']['10']['pct'] }},
							{{ graph['brady']['11']['pct'] }},
							{{ graph['brady']['12']['pct'] }},
							{{ graph['brady']['01']['pct'] }},
							{{ graph['brady']['02']['pct'] }}
						],
				},
        ]
    });
</script>