{#
/**
* @file
* Theme override to display a node.
*
* Available variables:
* - node: The node entity with limited access to object properties and methods.
 Only "getter" methods (method names starting with "get", "has", or "is")
 and a few common methods such as "id" and "label" are available. Calling
 other methods (such as node.delete) will result in an exception.
* - label: The title of the node.
* - content: All node items. Use {{ content }} to print them all,
*   or print a subset such as {{ content.field_example }}. Use
*   {{ content|without('field_example') }} to temporarily suppress the printing
*   of a given child element.
* - author_picture: The node author user entity, rendered using the "compact"
*   view mode.
* - metadata: Metadata for this node.
* - date: Themed creation date field.
* - author_name: Themed author name field.
* - url: Direct URL of the current node.
* - display_submitted: Whether submission information should be displayed.
* - attributes: HTML attributes for the containing element.
*   The attributes.class element may contain one or more of the following
*   classes:
*   - node: The current template type (also known as a "theming hook").
*   - node--type-[type]: The current node type. For example, if the node is an
*     "Article" it would result in "node--type-article". Note that the machine
*     name will often be in a short form of the human readable label.
*   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
*     teaser would result in: "node--view-mode-teaser", and
*     full: "node--view-mode-full".
*   The following are controlled through the node publishing options.
*   - node--promoted: Appears on nodes promoted to the front page.
*   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
*     teaser listings.
*   - node--unpublished: Appears on unpublished nodes visible only to site
*     admins.
* - title_attributes: Same as attributes, except applied to the main title
*   tag that appears in the template.
* - content_attributes: Same as attributes, except applied to the main
*   content tag that appears in the template.
* - author_attributes: Same as attributes, except applied to the author of
*   the node tag that appears in the template.
* - title_prefix: Additional output populated by modules, intended to be
*   displayed in front of the main title tag that appears in the template.
* - title_suffix: Additional output populated by modules, intended to be
*   displayed after the main title tag that appears in the template.
* - view_mode: View mode; for example, "teaser" or "full".
* - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
* - page: Flag for the full page state. Will be true if view_mode is 'full'.
* - readmore: Flag for more state. Will be true if the teaser content of the
*   node cannot hold the main body content.
* - logged_in: Flag for authenticated user status. Will be true when the
*   current user is a logged-in member.
* - is_admin: Flag for admin user status. Will be true when the current user
*   is an administrator.
*
* @see template_preprocess_node()
*
* @todo Remove the id attribute (or make it a class), because if that gets
*   rendered twice on a page this is invalid CSS for example: two lists
*   in different view modes.
*/
#}
{% set qb = label.0['#context']['value'] %}
{{ attach_library('classy/node') }}
{{ attach_library('materialize/parallax-init') }}
{% set brady_sb_mvp = 4 %}
{% set brady_mvp = 3 %}
<div class="row container">
    <h1>Tom Brady vs. {{ label }}</h1>
</div>
<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s3"><a class="active" href="#tab1">Volume</a></li>
            <li class="tab col s3"><a href="#tab2">Efficiency</a></li>
            <li class="tab col s3"><a href="#tab3">Advanced</a></li>
            <li class="tab col s3"><a href="#tab4">Awards</a></li>
        </ul>
    </div>
{#

    v----- Regular Season Stats -----v

#}

    <div id="tab1" class="col s12">
        <ul class="collapsible" data-collapsible="expandable">
            <li>
                <div class="collapsible-header active">
                    <h2 class="center"><span>Regular Season Stats</span></h2>
                </div>
                <div class="collapsible-body container">
                    <div class="row">
                        <div class="col s12 m2 stat-box valign-wrapper"><h2 class="stat-team">Passing Yards</h2></div>
                        <div class="col s6 m3 center">
                            <div class="new-england-patriots stat-box">
                                <span class="stat-score">{{ brady.reg.yds|number_format }}</span>
                            </div>
                        </div>
                        <div class="col m4 hide-on-small-only center">
                            <div id="reg-pass-yds" style="height: 150px; width:auto; margin: 0 auto"></div>
                        </div>
                        <div class="col s6 m3 center">
                            <div class="{{ team_css }} stat-box">
                                <span class="stat-score">{{ content.field_reg_pass_yards.0['#markup']|number_format }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 m2 stat-box valign-wrapper"><h2 class="stat-team">Passing TDs</h2></div>
                        <div class="col s6 m3 center">
                            <div class="new-england-patriots stat-box">
                                <span class="stat-score">{{ brady.reg.tds }}</span>
                            </div>
                        </div>
                        <div class="col m4 hide-on-small-only center">
                            <div id="reg-pass-tds" style="height: 150px; width:auto; margin: 0 auto"></div>
                        </div>
                        <div class="col s6 m3 center">
                            <div class="{{ team_css }} stat-box">
                                <span class="stat-score">{{ content.field_reg_pass_tds }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 m2 stat-box valign-wrapper"><h2 class="stat-team">Game Winning Drives</h2></div>
                        <div class="col s6 m3 center">
                            <div class="new-england-patriots stat-box">
                                <span class="stat-score">{{ brady.reg.gwd }}</span>
                            </div>
                        </div>
                        <div class="col m4 hide-on-small-only center">
                            <div id="reg-gwd" style="height: 150px; width:auto; margin: 0 auto"></div>
                        </div>
                        <div class="col s6 m3 center">
                            <div class="{{ team_css }} stat-box">
                                <span class="stat-score">{{ content.field_reg_game_winning_drives }}</span>
                            </div>
                        </div>
                    </div>

                <div class="row">
                    <div class="col s12 m2 stat-box valign-wrapper"><h2 class="stat-team">4th Quarter Comebacks</h2></div>
                    <div class="col s6 m3 center">
                        <div class="new-england-patriots stat-box">
                            <span class="stat-score">{{ brady.reg.q4c }}</span>
                        </div>
                    </div>
                    <div class="col m4 hide-on-small-only center">
                        <div id="reg-q4c" style="height: 150px; width:auto; margin: 0 auto"></div>
                    </div>
                    <div class="col s6 m3 center">
                        <div class="{{ team_css }} stat-box">
                            <span class="stat-score">{{ content.field_reg_comebacks }}</span>
                        </div>
                    </div>
                </div>
            </div>

            </li>

            {#

                v----- Playoff Stats -----v

            #}

                <li>
                    <div class="collapsible-header active">
                        <h2 class="center"><span>Playoff Stats</span></h2>
                    </div>
                    <div class="collapsible-body container">
                    <div class="row">
                        <div class="col s12 m2 stat-box valign-wrapper"><h2 class="stat-team">Passing Yards</h2></div>
                        <div class="col s6 m3 center">
                            <div class="new-england-patriots stat-box">
                                <span class="stat-score">{{ brady.poff.yds|number_format }}</span>
                            </div>
                        </div>
                        <div class="col m4 hide-on-small-only center">
                            <div id="poff-pass-yds" style="height: 150px; width:auto; margin: 0 auto"></div>
                        </div>
                        <div class="col s6 m3 center">
                            <div class="{{ team_css }} stat-box">
                                <span class="stat-score">{{ content.field_poff_pass_yds.0['#markup']|number_format }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 m2 stat-box valign-wrapper"><h2 class="stat-team">Passing TDs</h2></div>
                        <div class="col s6 m3 center">
                            <div class="new-england-patriots stat-box">
                                <span class="stat-score">{{ brady.poff.tds }}</span>
                            </div>
                        </div>
                        <div class="col m4 hide-on-small-only center">
                            <div id="poff-pass-tds" style="height: 150px; width:auto; margin: 0 auto"></div>
                        </div>
                        <div class="col s6 m3 center">
                            <div class="{{ team_css }} stat-box">
                                <span class="stat-score">{{ content.field_poff_pass_tds }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 m2 stat-box valign-wrapper"><h2 class="stat-team">Game Winning Drives</h2></div>
                        <div class="col s6 m3 center">
                            <div class="new-england-patriots stat-box">
                                <span class="stat-score">{{ brady.poff.gwd }}</span>
                            </div>
                        </div>
                        <div class="col m4 hide-on-small-only center">
                            <div id="poff-gwd" style="height: 150px; width:auto; margin: 0 auto"></div>
                        </div>
                        <div class="col s6 m3 center">
                            <div class="{{ team_css }} stat-box">
                                <span class="stat-score">{{ content.field_poff_game_winning_drives }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m2 stat-box valign-wrapper"><h2 class="stat-team">4th Quarter Comebacks</h2></div>
                        <div class="col s6 m3 center">
                            <div class="new-england-patriots stat-box">
                                <span class="stat-score">{{ brady.poff.q4c }}</span>
                            </div>
                        </div>
                        <div class="col m4 hide-on-small-only center">
                            <div id="poff-q4c" style="height: 150px; width:auto; margin: 0 auto"></div>
                        </div>
                        <div class="col s6 m3 center">
                            <div class="{{ team_css }} stat-box">
                                <span class="stat-score">{{ content.field_poff_comebacks }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div id="tab2" class="col s12">
        <ul class="collapsible" data-collapsible="expandable">
            <li>
                <div class="collapsible-header active">
                    <h2 class="center"><span>Regular Season Stats</span></h2>
                </div>
                <div class="collapsible-body container">

                    <div class="row">
                        <div class="col s12 m2 stat-box valign-wrapper"><h2 class="stat-team">Comp %</h2></div>
                        <div class="col s6 m3 center">
                            <div class="new-england-patriots stat-box">
                                <span class="stat-score">{{ brady.reg.comp_pct }}%</span>
                            </div>
                        </div>
                        <div class="col m4 hide-on-small-only center">
                            <div id="reg-comp-pct" style="height: 150px; width:auto; margin: 0 auto"></div>
                        </div>
                        <div class="col s6 m3 center">
                            <div class="{{ team_css }} stat-box">
                                <span class="stat-score">{{ content.field_reg_comp_pct }}%</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 m2 stat-box valign-wrapper"><h2 class="stat-team">TD %</h2></div>
                        <div class="col s6 m3 center">
                            <div class="new-england-patriots stat-box">
                                <span class="stat-score">{{ brady.reg.td_pct }}%</span>
                            </div>
                        </div>
                        <div class="col m4 hide-on-small-only center">
                            <div id="reg-td-pct" style="height: 150px; width:auto; margin: 0 auto"></div>
                        </div>
                        <div class="col s6 m3 center">
                            <div class="{{ team_css }} stat-box">
                                <span class="stat-score">{{ otherqb.reg.td_pct }}%</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 m2 stat-box valign-wrapper"><h2 class="stat-team">Yards/Att</h2></div>
                        <div class="col s6 m3 center">
                            <div class="new-england-patriots stat-box">
                                <span class="stat-score">{{ brady.reg.ypa }}</span>
                            </div>
                        </div>
                        <div class="col m4 hide-on-small-only center">
                            <div id="reg-ypa" style="height: 150px; width:auto; margin: 0 auto"></div>
                        </div>
                        <div class="col s6 m3 center">
                            <div class="{{ team_css }} stat-box">
                                <span class="stat-score">{{ otherqb.reg.ypa }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 m2 stat-box valign-wrapper"><h2 class="stat-team">Yards/Comp</h2></div>
                        <div class="col s6 m3 center">
                            <div class="new-england-patriots stat-box">
                                <span class="stat-score">{{ brady.reg.ypc }}</span>
                            </div>
                        </div>
                        <div class="col m4 hide-on-small-only center">
                            <div id="reg-ypc" style="height: 150px; width:auto; margin: 0 auto"></div>
                        </div>
                        <div class="col s6 m3 center">
                            <div class="{{ team_css }} stat-box">
                                <span class="stat-score">{{ otherqb.reg.ypc }}</span>
                            </div>
                        </div>
                    </div>

                </div>

            </li>

            {#

                v----- Playoff Stats -----v

            #}

            <li>
                <div class="collapsible-header active">
                    <h2 class="center"><span>Playoff Stats</span></h2>
                </div>
                <div class="collapsible-body container">
                    <div class="row">
                        <div class="col s12 m2 stat-box valign-wrapper"><h2 class="stat-team">Comp %</h2></div>
                        <div class="col s6 m3 center">
                            <div class="new-england-patriots stat-box">
                                <span class="stat-score">{{ brady.poff.comp_pct }}%</span>
                            </div>
                        </div>
                        <div class="col m4 hide-on-small-only center">
                            <div id="poff-comp-pct" style="height: 150px; width:auto; margin: 0 auto"></div>
                        </div>
                        <div class="col s6 m3 center">
                            <div class="{{ team_css }} stat-box">
                                <span class="stat-score">{{ content.field_poff_comp_pct }}%</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 m2 stat-box valign-wrapper"><h2 class="stat-team">TD %</h2></div>
                        <div class="col s6 m3 center">
                            <div class="new-england-patriots stat-box">
                                <span class="stat-score">{{ brady.poff.td_pct }}%</span>
                            </div>
                        </div>
                        <div class="col m4 hide-on-small-only center">
                            <div id="poff-td-pct" style="height: 150px; width:auto; margin: 0 auto"></div>
                        </div>
                        <div class="col s6 m3 center">
                            <div class="{{ team_css }} stat-box">
                                <span class="stat-score">{{ otherqb.poff.td_pct }}%</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 m2 stat-box valign-wrapper"><h2 class="stat-team">Yards/Att</h2></div>
                        <div class="col s6 m3 center">
                            <div class="new-england-patriots stat-box">
                                <span class="stat-score">{{ brady.poff.ypa }}</span>
                            </div>
                        </div>
                        <div class="col m4 hide-on-small-only center">
                            <div id="poff-ypa" style="height: 150px; width:auto; margin: 0 auto"></div>
                        </div>
                        <div class="col s6 m3 center">
                            <div class="{{ team_css }} stat-box">
                                <span class="stat-score">{{ otherqb.poff.ypa }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 m2 stat-box valign-wrapper"><h2 class="stat-team">Yards/Comp</h2></div>
                        <div class="col s6 m3 center">
                            <div class="new-england-patriots stat-box">
                                <span class="stat-score">{{ brady.poff.ypc }}</span>
                            </div>
                        </div>
                        <div class="col m4 hide-on-small-only center">
                            <div id="poff-ypc" style="height: 150px; width:auto; margin: 0 auto"></div>
                        </div>
                        <div class="col s6 m3 center">
                            <div class="{{ team_css }} stat-box">
                                <span class="stat-score">{{ otherqb.poff.ypc }}</span>
                            </div>
                        </div>
                    </div>

                </div>
            </li>
        </ul>
    </div>
    <div id="tab3" class="col s12">
        <ul class="collapsible" data-collapsible="expandable">
            <li>
                <div class="collapsible-header active">
                    <h2 class="center"><span>Regular Season Stats</span></h2>
                </div>
                <div class="collapsible-body container">

                    <div class="row">
                        <div class="col s12 m2 stat-box valign-wrapper"><h2 class="stat-team">QB Rating</h2></div>
                        <div class="col s6 m3 center">
                            <div class="new-england-patriots stat-box">
                                <span class="stat-score">{{ brady.reg.qbr }}</span>
                            </div>
                        </div>
                        <div class="col m4 hide-on-small-only center">
                            <div id="reg-qbr" style="height: 150px; width:auto; margin: 0 auto"></div>
                        </div>
                        <div class="col s6 m3 center">
                            <div class="{{ team_css }} stat-box">
                                <span class="stat-score">{{ otherqb.reg.qbr }}</span>
                            </div>
                        </div>
                    </div>

                </div>

            </li>

            {#

                v----- Playoff Stats -----v

            #}

            <li>
                <div class="collapsible-header active">
                    <h2 class="center"><span>Playoff Stats</span></h2>
                </div>
                <div class="collapsible-body container">
                    <div class="row">
                        <div class="col s12 m2 stat-box valign-wrapper"><h2 class="stat-team">QB Rating</h2></div>
                        <div class="col s6 m3 center">
                            <div class="new-england-patriots stat-box">
                                <span class="stat-score">{{ brady.poff.qbr }}</span>
                            </div>
                        </div>
                        <div class="col m4 hide-on-small-only center">
                            <div id="poff-qbr" style="height: 150px; width:auto; margin: 0 auto"></div>
                        </div>
                        <div class="col s6 m3 center">
                            <div class="{{ team_css }} stat-box">
                                <span class="stat-score">{{ otherqb.poff.qbr }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div id="tab4" class="col s12">
        <ul class="collapsible" data-collapsible="expandable">
            <li>
                <div class="collapsible-header active">
                    <h2 class="center"><span>Awards</span></h2>
                </div>
                <div class="collapsible-body container">
                <div class="row">
                    <div class="col s12 m2 stat-box valign-wrapper"><h2 class="stat-team">Super Bowls</h2></div>
                    <div class="col s6 m3 center">
                        <div class="new-england-patriots stat-box">
                            <span class="stat-score">{{ brady.super_bowls }}</span>
                        </div>
                    </div>
                    <div class="col m4 hide-on-small-only center">
                        <div id="conf_champ" style="height: 150px; width:auto; margin: 0 auto"></div>
                    </div>
                    <div class="col s6 m3 center">
                        <div class="{{ team_css }} stat-box">
                            <span class="stat-score">{{ content.field_conference_championships.0['#markup']|number_format }}</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m2 stat-box valign-wrapper"><h2 class="stat-team">Super Bowl Wins</h2></div>
                    <div class="col s6 m3 center">
                        <div class="new-england-patriots stat-box">
                            <span class="stat-score">{{ brady.super_bowl_wins }}</span>
                        </div>
                    </div>
                    <div class="col m4 hide-on-small-only center">
                        <div id="sb" style="height: 150px; width:auto; margin: 0 auto"></div>
                    </div>
                    <div class="col s6 m3 center">
                        <div class="{{ team_css }} stat-box">
                            <span class="stat-score">{{ content.field_super_bowl_wins.0['#markup']|number_format }}</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m2 stat-box valign-wrapper"><h2 class="stat-team">Super Bowl MVPs</h2></div>
                    <div class="col s6 m3 center">
                        <div class="new-england-patriots stat-box">
                            <span class="stat-score">{{ brady_sb_mvp }}</span>
                        </div>
                    </div>
                    <div class="col m4 hide-on-small-only center">
                        <div id="sb_mvp" style="height: 150px; width:auto; margin: 0 auto"></div>
                    </div>
                    <div class="col s6 m3 center">
                        <div class="{{ team_css }} stat-box">
                            <span class="stat-score">{{ content.field_super_bowl_mvp.0['#markup']|number_format }}</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m2 stat-box valign-wrapper"><h2 class="stat-team">League MVPs</h2></div>
                    <div class="col s6 m3 center">
                        <div class="new-england-patriots stat-box">
                            <span class="stat-score">{{ brady_mvp }}</span>
                        </div>
                    </div>
                    <div class="col m4 hide-on-small-only center">
                        <div id="mvp" style="height: 150px; width:auto; margin: 0 auto"></div>
                    </div>
                    <div class="col s6 m3 center">
                        <div class="{{ team_css }} stat-box">
                            <span class="stat-score">{{ content.field_mvp.0['#markup']|number_format }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script type="text/javascript">
    //    --------------
    //    Regular Season Charts
    //    --------------
    Highcharts.chart('reg-pass-yds', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: 0,
            plotShadow: false,
            marginBottom: 0,
            marginTop: 0,
            marginLeft: 0,
            marginRight: 0,
        },
        title: {
            text: '',
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },

        plotOptions: {
            pie: {
                colors: ['#053c65', '#AF1E2C'],
                dataLabels: {
                    enabled: false,
                },
                startAngle: -90,
                endAngle: 90,
                center: ['50%', '75%']
            }
        },
        {% set pass_yds = brady.reg.yds + content.field_reg_pass_yards.0['#markup']  %}
        {% set brady_yds = (brady.reg.yds/pass_yds) * 100 %}
        {% set brady_yds = brady_yds|round %}
        {% set qb_yds = 100 - brady_yds %}
        series: [{
            type: 'pie',
            name: 'Passing Yards',
            innerSize: '50%',
            data: [
                ['Tom Brady',   {{ brady_yds }}],
                ['{{ qb }}', {{ qb_yds }}],
            ]
        }]
    });
    Highcharts.chart('reg-pass-tds', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: 0,
            plotShadow: false,
            marginBottom: 0,
            marginTop: 0,
            marginLeft: 0,
            marginRight: 0,
        },
        title: {
            text: '',
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },

        plotOptions: {
            pie: {
                colors: ['#053c65', '#AF1E2C'],
                dataLabels: {
                    enabled: false,
                },
                startAngle: -90,
                endAngle: 90,
                center: ['50%', '75%']
            }
        },
        {% set pass_tds = brady.reg.tds + content.field_reg_pass_tds.0['#markup']  %}
        {% set brady_tds = (brady.reg.tds/pass_tds) * 100 %}
        {% set brady_tds = brady_tds|round %}
        {% set qb_tds = 100 - brady_tds %}
        series: [{
            type: 'pie',
            name: 'Passing TDs',
            innerSize: '50%',
            data: [
                ['Tom Brady',   {{ brady_tds }}],
                ['{{ qb }}', {{ qb_tds }}],
            ]
        }]
    });
    Highcharts.chart('reg-comp-pct', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: 0,
            plotShadow: false,
            marginBottom: 0,
            marginTop: 0,
            marginLeft: 0,
            marginRight: 0,
        },
        title: {
            text: '',
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },

        plotOptions: {
            pie: {
                colors: ['#053c65', '#AF1E2C'],
                dataLabels: {
                    enabled: false,
                },
                startAngle: -90,
                endAngle: 90,
                center: ['50%', '75%']
            }
        },
        {% set comp_pct = brady.reg.comp_pct + content.field_reg_comp_pct.0['#markup']  %}
        {% set brady_pct = (brady.reg.comp_pct/comp_pct) * 100 %}
        {% set brady_pct = brady_pct|round %}
        {% set qb_pct = 100 - brady_pct %}
        series: [{
            type: 'pie',
            name: 'Completion %',
            innerSize: '50%',
            data: [
                ['Tom Brady',   {{ brady_pct }}],
                ['{{ qb }}', {{ qb_pct }}],
            ]
        }]
    });
    Highcharts.chart('reg-td-pct', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: 0,
            plotShadow: false,
            marginBottom: 0,
            marginTop: 0,
            marginLeft: 0,
            marginRight: 0,
        },
        title: {
            text: '',
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },

        plotOptions: {
            pie: {
                colors: ['#053c65', '#AF1E2C'],
                dataLabels: {
                    enabled: false,
                },
                startAngle: -90,
                endAngle: 90,
                center: ['50%', '75%']
            }
        },
        {% set td_pct = brady.reg.td_pct + otherqb.reg.td_pct %}
        {% set brady_pct = (brady.reg.td_pct/td_pct) * 100 %}
        {% set brady_pct = brady_pct|round %}
        {% set qb_pct = 100 - brady_pct %}
        series: [{
            type: 'pie',
            name: 'TD %',
            innerSize: '50%',
            data: [
                ['Tom Brady',   {{ brady_pct }}],
                ['{{ qb }}', {{ qb_pct }}],
            ]
        }]
    });
    Highcharts.chart('reg-ypa', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: 0,
            plotShadow: false,
            marginBottom: 0,
            marginTop: 0,
            marginLeft: 0,
            marginRight: 0,
        },
        title: {
            text: '',
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },

        plotOptions: {
            pie: {
                colors: ['#053c65', '#AF1E2C'],
                dataLabels: {
                    enabled: false,
                },
                startAngle: -90,
                endAngle: 90,
                center: ['50%', '75%']
            }
        },
        {% set ypa = brady.reg.ypa + otherqb.reg.ypa  %}
        {% set brady_pct = (brady.reg.ypa/ypa) * 100 %}
        {% set brady_pct = brady_pct|round %}
        {% set qb_pct = 100 - brady_pct %}
        series: [{
            type: 'pie',
            name: 'YPA',
            innerSize: '50%',
            data: [
                ['Tom Brady',   {{ brady_pct }}],
                ['{{ qb }}', {{ qb_pct }}],
            ]
        }]
    });
    Highcharts.chart('reg-ypc', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: 0,
            plotShadow: false,
            marginBottom: 0,
            marginTop: 0,
            marginLeft: 0,
            marginRight: 0,
        },
        title: {
            text: '',
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },

        plotOptions: {
            pie: {
                colors: ['#053c65', '#AF1E2C'],
                dataLabels: {
                    enabled: false,
                },
                startAngle: -90,
                endAngle: 90,
                center: ['50%', '75%']
            }
        },
        {% set ypc = brady.reg.ypc + otherqb.reg.ypc  %}
        {% set brady_pct = (brady.reg.ypc/ypc) * 100 %}
        {% set brady_pct = brady_pct|round %}
        {% set qb_pct = 100 - brady_pct %}
        series: [{
            type: 'pie',
            name: 'YPA',
            innerSize: '50%',
            data: [
                ['Tom Brady',   {{ brady_pct }}],
                ['{{ qb }}', {{ qb_pct }}],
            ]
        }]
    });
    Highcharts.chart('reg-qbr', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: 0,
            plotShadow: false,
            marginBottom: 0,
            marginTop: 0,
            marginLeft: 0,
            marginRight: 0,
        },
        title: {
            text: '',
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },

        plotOptions: {
            pie: {
                colors: ['#053c65', '#AF1E2C'],
                dataLabels: {
                    enabled: false,
                },
                startAngle: -90,
                endAngle: 90,
                center: ['50%', '75%']
            }
        },
        {% set qbr = brady.reg.qbr + otherqb.reg.qbr  %}
        {% set brady_pct = (brady.reg.qbr/qbr) * 100 %}
        {% set brady_pct = brady_pct|round %}
        {% set qb_pct = 100 - brady_pct %}
        series: [{
            type: 'pie',
            name: 'YPA',
            innerSize: '50%',
            data: [
                ['Tom Brady',   {{ brady_pct }}],
                ['{{ qb }}', {{ qb_pct }}],
            ]
        }]
    });
    Highcharts.chart('reg-gwd', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: 0,
            plotShadow: false,
            marginBottom: 0,
            marginTop: 0,
            marginLeft: 0,
            marginRight: 0,
        },
        title: {
            text: '',
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },

        plotOptions: {
            pie: {
                colors: ['#053c65', '#AF1E2C'],
                dataLabels: {
                    enabled: false,
                },
                startAngle: -90,
                endAngle: 90,
                center: ['50%', '75%']
            }
        },
        {% set gwd = brady.reg.gwd + content.field_reg_game_winning_drives.0['#markup']  %}
        {% set brady_gwd = (brady.reg.gwd/gwd) * 100 %}
        {% set brady_gwd = brady_gwd|round %}
        {% set qb_gwd = 100 - brady_gwd %}
        series: [{
            type: 'pie',
            name: 'Game Winning Drives',
            innerSize: '50%',
            data: [
                ['Tom Brady',   {{ brady_gwd }}],
                ['{{ qb }}', {{ qb_gwd }}],
            ]
        }]
    });
    Highcharts.chart('reg-q4c', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: 0,
            plotShadow: false,
            marginBottom: 0,
            marginTop: 0,
            marginLeft: 0,
            marginRight: 0,
        },
        title: {
            text: '',
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },

        plotOptions: {
            pie: {
                colors: ['#053c65', '#AF1E2C'],
                dataLabels: {
                    enabled: false,
                },
                startAngle: -90,
                endAngle: 90,
                center: ['50%', '75%']
            }
        },
        {% set q4c = brady.reg.q4c + content.field_reg_comebacks.0['#markup']  %}
        {% set brady_q4c = (brady.reg.q4c/q4c) * 100 %}
        {% set brady_q4c = brady_q4c|round %}
        {% set qb_q4c = 100 - brady_q4c %}
        series: [{
            type: 'pie',
            name: '4th Quarter Comebacks',
            innerSize: '50%',
            data: [
                ['Tom Brady',   {{ brady_q4c }}],
                ['{{ qb }}', {{ qb_q4c }}],
            ]
        }]
    });

//    --------------
//    Playoff Charts
//    --------------
    Highcharts.chart('poff-pass-yds', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: 0,
            plotShadow: false,
            marginBottom: 0,
            marginTop: 0,
            marginLeft: 0,
            marginRight: 0,
        },
        title: {
            text: '',
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },

        plotOptions: {
            pie: {
                colors: ['#053c65', '#AF1E2C'],
                dataLabels: {
                    enabled: false,
                },
                startAngle: -90,
                endAngle: 90,
                center: ['50%', '75%']
            }
        },
        {% set pass_yds = brady.poff.yds + content.field_poff_pass_yds.0['#markup']  %}
        {% set brady_yds = (brady.poff.yds/pass_yds) * 100 %}
        {% set brady_yds = brady_yds|round %}
        {% set qb_yds = 100 - brady_yds %}
        series: [{
            type: 'pie',
            name: 'Passing Yards',
            innerSize: '50%',
            data: [
                ['Tom Brady',   {{ brady_yds }}],
                ['{{ qb }}', {{ qb_yds }}],
            ]
        }]
    });
    Highcharts.chart('poff-pass-tds', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: 0,
            plotShadow: false,
            marginBottom: 0,
            marginTop: 0,
            marginLeft: 0,
            marginRight: 0,
        },
        title: {
            text: '',
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },

        plotOptions: {
            pie: {
                colors: ['#053c65', '#AF1E2C'],
                dataLabels: {
                    enabled: false,
                },
                startAngle: -90,
                endAngle: 90,
                center: ['50%', '75%']
            }
        },
        {% set pass_tds = brady.poff.tds + content.field_poff_pass_tds.0['#markup']  %}
        {% set brady_tds = (brady.poff.tds/pass_tds) * 100 %}
        {% set brady_tds = brady_tds|round %}
        {% set qb_tds = 100 - brady_tds %}
        series: [{
            type: 'pie',
            name: 'Passing TDs',
            innerSize: '50%',
            data: [
                ['Tom Brady',   {{ brady_tds }}],
                ['{{ qb }}', {{ qb_tds }}],
            ]
        }]
    });
    Highcharts.chart('poff-comp-pct', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: 0,
            plotShadow: false,
            marginBottom: 0,
            marginTop: 0,
            marginLeft: 0,
            marginRight: 0,
        },
        title: {
            text: '',
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },

        plotOptions: {
            pie: {
                colors: ['#053c65', '#AF1E2C'],
                dataLabels: {
                    enabled: false,
                },
                startAngle: -90,
                endAngle: 90,
                center: ['50%', '75%']
            }
        },
        {% set comp_pct = brady.poff.comp_pct + content.field_poff_comp_pct.0['#markup']  %}
        {% set brady_pct = (brady.poff.comp_pct/comp_pct) * 100 %}
        {% set brady_pct = brady_pct|round %}
        {% set qb_pct = 100 - brady_pct %}
        series: [{
            type: 'pie',
            name: 'Completion %',
            innerSize: '50%',
            data: [
                ['Tom Brady',   {{ brady_pct }}],
                ['{{ qb }}', {{ qb_pct }}],
            ]
        }]
    });
    Highcharts.chart('poff-td-pct', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: 0,
            plotShadow: false,
            marginBottom: 0,
            marginTop: 0,
            marginLeft: 0,
            marginRight: 0,
        },
        title: {
            text: '',
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },

        plotOptions: {
            pie: {
                colors: ['#053c65', '#AF1E2C'],
                dataLabels: {
                    enabled: false,
                },
                startAngle: -90,
                endAngle: 90,
                center: ['50%', '75%']
            }
        },
        {% set td_pct = brady.poff.td_pct + otherqb.poff.td_pct %}
        {% set brady_pct = (brady.poff.td_pct/td_pct) * 100 %}
        {% set brady_pct = brady_pct|round %}
        {% set qb_pct = 100 - brady_pct %}
        series: [{
            type: 'pie',
            name: 'TD %',
            innerSize: '50%',
            data: [
                ['Tom Brady',   {{ brady_pct }}],
                ['{{ qb }}', {{ qb_pct }}],
            ]
        }]
    });
    Highcharts.chart('poff-ypa', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: 0,
            plotShadow: false,
            marginBottom: 0,
            marginTop: 0,
            marginLeft: 0,
            marginRight: 0,
        },
        title: {
            text: '',
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },

        plotOptions: {
            pie: {
                colors: ['#053c65', '#AF1E2C'],
                dataLabels: {
                    enabled: false,
                },
                startAngle: -90,
                endAngle: 90,
                center: ['50%', '75%']
            }
        },
        {% set ypa = brady.poff.ypa + otherqb.poff.ypa  %}
        {% set brady_pct = (brady.poff.ypa/ypa) * 100 %}
        {% set brady_pct = brady_pct|round %}
        {% set qb_pct = 100 - brady_pct %}
        series: [{
            type: 'pie',
            name: 'YPA',
            innerSize: '50%',
            data: [
                ['Tom Brady',   {{ brady_pct }}],
                ['{{ qb }}', {{ qb_pct }}],
            ]
        }]
    });
    Highcharts.chart('poff-ypc', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: 0,
            plotShadow: false,
            marginBottom: 0,
            marginTop: 0,
            marginLeft: 0,
            marginRight: 0,
        },
        title: {
            text: '',
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },

        plotOptions: {
            pie: {
                colors: ['#053c65', '#AF1E2C'],
                dataLabels: {
                    enabled: false,
                },
                startAngle: -90,
                endAngle: 90,
                center: ['50%', '75%']
            }
        },
        {% set ypc = brady.poff.ypc + otherqb.poff.ypc  %}
        {% set brady_pct = (brady.poff.ypc/ypc) * 100 %}
        {% set brady_pct = brady_pct|round %}
        {% set qb_pct = 100 - brady_pct %}
        series: [{
            type: 'pie',
            name: 'YPA',
            innerSize: '50%',
            data: [
                ['Tom Brady',   {{ brady_pct }}],
                ['{{ qb }}', {{ qb_pct }}],
            ]
        }]
    });
    Highcharts.chart('poff-qbr', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: 0,
            plotShadow: false,
            marginBottom: 0,
            marginTop: 0,
            marginLeft: 0,
            marginRight: 0,
        },
        title: {
            text: '',
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },

        plotOptions: {
            pie: {
                colors: ['#053c65', '#AF1E2C'],
                dataLabels: {
                    enabled: false,
                },
                startAngle: -90,
                endAngle: 90,
                center: ['50%', '75%']
            }
        },
        {% set qbr = brady.poff.qbr + otherqb.poff.qbr  %}
        {% set brady_pct = (brady.poff.qbr/qbr) * 100 %}
        {% set brady_pct = brady_pct|round %}
        {% set qb_pct = 100 - brady_pct %}
        series: [{
            type: 'pie',
            name: 'QBR',
            innerSize: '50%',
            data: [
                ['Tom Brady',   {{ brady_pct }}],
                ['{{ qb }}', {{ qb_pct }}],
            ]
        }]
    });
    Highcharts.chart('poff-gwd', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: 0,
            plotShadow: false,
            marginBottom: 0,
            marginTop: 0,
            marginLeft: 0,
            marginRight: 0,
        },
        title: {
            text: '',
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },

        plotOptions: {
            pie: {
                colors: ['#053c65', '#AF1E2C'],
                dataLabels: {
                    enabled: false,
                },
                startAngle: -90,
                endAngle: 90,
                center: ['50%', '75%']
            }
        },
        {% set gwd = brady.poff.gwd + content.field_poff_game_winning_drives.0['#markup']  %}
        {% set brady_gwd = (brady.poff.gwd/gwd) * 100 %}
        {% set brady_gwd = brady_gwd|round %}
        {% set qb_gwd = 100 - brady_gwd %}
        series: [{
            type: 'pie',
            name: 'Game Winning Drives',
            innerSize: '50%',
            data: [
                ['Tom Brady',   {{ brady_gwd }}],
                ['{{ qb }}', {{ qb_gwd }}],
            ]
        }]
    });
    Highcharts.chart('poff-q4c', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: 0,
            plotShadow: false,
            marginBottom: 0,
            marginTop: 0,
            marginLeft: 0,
            marginRight: 0,
        },
        title: {
            text: '',
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },

        plotOptions: {
            pie: {
                colors: ['#053c65', '#AF1E2C'],
                dataLabels: {
                    enabled: false,
                },
                startAngle: -90,
                endAngle: 90,
                center: ['50%', '75%']
            }
        },
        {% set q4c = brady.poff.q4c + content.field_poff_comebacks.0['#markup']  %}
        {% set brady_q4c = (brady.poff.q4c/q4c) * 100 %}
        {% set brady_q4c = brady_q4c|round %}
        {% set qb_q4c = 100 - brady_q4c %}
        series: [{
            type: 'pie',
            name: '4th Quarter Comebacks',
            innerSize: '50%',
            data: [
                ['Tom Brady',   {{ brady_q4c }}],
                ['{{ qb }}', {{ qb_q4c }}],
            ]
        }]
    });

//    --------------
//    Award Charts
//    --------------
    Highcharts.chart('conf_champ', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: 0,
            plotShadow: false,
            marginBottom: 0,
            marginTop: 0,
            marginLeft: 0,
            marginRight: 0,
        },
        title: {
            text: '',
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },

        plotOptions: {
            pie: {
                colors: ['#053c65', '#AF1E2C'],
                dataLabels: {
                    enabled: false,
                },
                startAngle: -90,
                endAngle: 90,
                center: ['50%', '75%']
            }
        },
        {% set conf_champ = brady.super_bowls + content.field_conference_championships.0['#markup']  %}
        {% set brady_conf_champ = (brady.super_bowls/conf_champ) * 100 %}
        {% set brady_conf_champ = brady_conf_champ|round %}
        {% set qb_conf_champ = 100 - brady_conf_champ %}
        series: [{
            type: 'pie',
            name: 'Super Bowl Wins',
            innerSize: '50%',
            data: [
                ['Tom Brady',   {{ brady_conf_champ }}],
                ['{{ qb }}', {{ qb_conf_champ }}],
            ]
        }]
    });
    Highcharts.chart('sb', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: 0,
            plotShadow: false,
            marginBottom: 0,
            marginTop: 0,
            marginLeft: 0,
            marginRight: 0,
        },
        title: {
            text: '',
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },

        plotOptions: {
            pie: {
                colors: ['#053c65', '#AF1E2C'],
                dataLabels: {
                    enabled: false,
                },
                startAngle: -90,
                endAngle: 90,
                center: ['50%', '75%']
            }
        },
        {% set sb = brady.super_bowl_wins + content.field_super_bowl_wins.0['#markup']  %}
        {% set brady_sb = (brady.super_bowl_wins/sb) * 100 %}
        {% set brady_sb = brady_sb|round %}
        {% set qb_sb = 100 - brady_sb %}
        series: [{
            type: 'pie',
            name: 'Super Bowl Wins',
            innerSize: '50%',
            data: [
                ['Tom Brady',   {{ brady_sb }}],
                ['{{ qb }}', {{ qb_sb }}],
            ]
        }]
    });
    Highcharts.chart('sb_mvp', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: 0,
            plotShadow: false,
            marginBottom: 0,
            marginTop: 0,
            marginLeft: 0,
            marginRight: 0,
        },
        title: {
            text: '',
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },

        plotOptions: {
            pie: {
                colors: ['#053c65', '#AF1E2C'],
                dataLabels: {
                    enabled: false,
                },
                startAngle: -90,
                endAngle: 90,
                center: ['50%', '75%']
            }
        },
        {% set sb_mvp = brady_sb_mvp + content.field_super_bowl_mvp.0['#markup']  %}
        {% set brady_sb_mvp = (brady_sb_mvp/sb_mvp) * 100 %}
        {% set brady_sb_mvp = brady_sb_mvp|round %}
        {% set qb_sb_mvp = 100 - brady_sb_mvp %}
        series: [{
            type: 'pie',
            name: 'Super Bowl Wins',
            innerSize: '50%',
            data: [
                ['Tom Brady',   {{ brady_sb_mvp }}],
                ['{{ qb }}', {{ qb_sb_mvp }}],
            ]
        }]
    });
    Highcharts.chart('mvp', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: 0,
            plotShadow: false,
            marginBottom: 0,
            marginTop: 0,
            marginLeft: 0,
            marginRight: 0,
        },
        title: {
            text: '',
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },

        plotOptions: {
            pie: {
                colors: ['#053c65', '#AF1E2C'],
                dataLabels: {
                    enabled: false,
                },
                startAngle: -90,
                endAngle: 90,
                center: ['50%', '75%']
            }
        },
        {% set mvp = brady_mvp + content.field_mvp.0['#markup']  %}
        {% set brady_mvp = (brady_mvp/mvp) * 100 %}
        {% set brady_mvp = brady_mvp|round %}
        {% set qb_mvp = 100 - brady_mvp %}
        series: [{
            type: 'pie',
            name: 'Super Bowl Wins',
            innerSize: '50%',
            data: [
                ['Tom Brady',   {{ brady_mvp }}],
                ['{{ qb }}', {{ qb_mvp }}],
            ]
        }]
    });
</script>
