{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{%
set classes = [
'node',
'node--type-' ~ node.bundle|clean_class,
node.isPromoted() ? 'node--promoted',
node.isSticky() ? 'node--sticky',
not node.isPublished() ? 'node--unpublished',
view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
]
%}
{{ attach_library('classy/node') }}
{{ attach_library('materialize/parallax-init') }}

<div itemscope itemtype="http://schema.org/SportsEvent">

    {% set vs = content.field_home_away|escape|lower|trim %}
    {% set year = content.field_season|escape|trim %}
    {% if vs == "away" %}
        {% set vs = '@' %}
        <div itemprop="homeTeam" itemscope itemtype="http://schema.org/SportsTeam">
            <meta itemprop="name" content="{{ opp }}" />
        </div>
        <div itemprop="awayTeam" itemscope itemtype="http://schema.org/SportsTeam">
            <meta itemprop="name" content="New England Patriots" />
        </div>
        <div itemprop="location" itemscope itemtype="http://schema.org/City">
            <meta itemprop="name" content="{{ location }}">
            <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                <meta itemprop="addressLocality" content="{{ location }}" />
            </div>
        </div>
    {% elseif vs == "home" %}
        {% set vs = 'vs' %}
        <div itemprop="homeTeam" itemscope itemtype="http://schema.org/SportsTeam">
            <meta itemprop="name" content="New England Patriots" />
        </div>
        <div itemprop="awayTeam" itemscope itemtype="http://schema.org/SportsTeam">
            <meta itemprop="name" content="{{ opp }}" />
        </div>
        <div itemprop="location" itemscope itemtype="http://schema.org/City">
            <meta itemprop="name" content="New England">
            <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                <meta itemprop="addressLocality" content="Foxboro" />
                <meta itemprop="addressRegion" content="MA" />
            </div>
        </div>
    {% endif %}
</div>
<div class="game-header" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/themes/materialize/stadiums/{{ stadium_img }}') center; background-size: cover;">
        <div class="parallax-overlay">
            <h1 class="overlay-title">{{ year }} {{ content.field_week }}
            </h1>
            <h2 class="overlay-body">Patriots ({{ content.field_patriots_score }}) {{ vs }} {{ content.field_opponent }} ({{ content.field_opponent_score }})</h2>
        </div>
    </div>
</div>

{% set brady = content.field_did_brady_play_|escape|trim|lower %}

{% if content.field_game_summary|render or content.field_game_summary_new|render %}
    {% set left_col = 'col s12 m8' %}
    {% set right_col = 'col s12 m4' %}
    {% set right1 = 'col s12' %}
{% else %}
    {% set right_col = 'col s12' %}
    {% set right1 = 'col s12 l4' %}
{% endif %}

{%  if content.field_belichick_breakdown|render or content.field_boston_globe_articles|render %}
  {% set breakdown = '' %}
  {% set hoverable = 'hoverable' %}
{% else %}
	{% set breakdown = 'disabled' %}
	{% set hoverable = '' %}
{% endif %}

{%  if content.field_game_gifs|render %}
  {% set gifs = '' %}
  {% set gifhover = 'hoverable' %}
{% else %}
  {% set gifs = 'disabled' %}
  {% set gifhover = '' %}
{% endif %}


<div class="row">
    <div class="col s12">
        <ul class="tabs tabs-fixed-width">
            <li class="tab col s4 card-panel"><a href="#tab1" class="hoverable">Game Summary</a></li>
            <li class="tab col s4 card-panel {{ gifs }}"><a href="#tab2" class="{{ gifhover }}">Highlights</a></li>
            <li class="tab col s4 card-panel {{ breakdown }}"><a href="#tab3" class="{{ hoverable }} ">Game Media</a></li>
        </ul>
    </div>
    <div id="tab1">
      <div class="row">
        <div class="col s12 m8">
          <div class="row">
            <div class="col s12">
              <div class="card">
                <div class="card-content">
                  <span class="card-title black-text">Game Summary</span>
                    <table>
                      <thead>
                        <tr>
                          <th></th>
                          <th>1</th>
                          <th>2</th>
                          <th>3</th>
                          <th>4</th>
                          {% if content.field_ot|escape|trim|lower == 'yes' %}
                            <th>OT</th>
                          {% endif %}
                          <th>Final</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>New England Patriots</td>
                          <td>{{ content.field_pats_q1 }}</td>
                          <td>{{ content.field_pats_q2 }}</td>
                          <td>{{ content.field_pats_q3 }}</td>
                          <td>{{ content.field_pats_q4 }}</td>
                          {% if content.field_ot|escape|trim|lower == 'yes' %}
                            <td>{{ content.field_pats_ot }}</td>
                          {% endif %}
                          <td><strong>{{ content.field_patriots_score }}</strong></td>
                        </tr>
                        <tr>
                          <td>{{ content.field_opponent }}</td>
                          <td>{{ content.field_opp_q1 }}</td>
                          <td>{{ content.field_opp_q2 }}</td>
                          <td>{{ content.field_opp_q3 }}</td>
                          <td>{{ content.field_opp_q4 }}</td>
                          {% if content.field_ot|escape|trim|lower == 'yes' %}
                            <td>{{ content.field_opp_ot }}</td>
                          {% endif %}
                          <td><strong>{{ content.field_opponent_score }}</strong></td>
                        </tr>
                      </tbody>
                    </table>
                </div>
              </div>
            </div>
          </div>
          {% if content.field_game_summary|render or content.field_game_summary_new|render %}
              <div class="row">
                <div class="col s12">
                  <div class="card">
                    <div class="card-content">
                      <span class="card-title black-text">Game Recap</span>
                      <p itemprop="description">{{ content.field_game_summary }}{{ content.field_game_summary_new }}</p>
                    </div>
                  </div>
                </div>
              </div>
          {% endif %}
          {% if content.field_related_podcast_episode|render %}
          <div class="row">
            <div class="col s12">
              {{ content.field_related_podcast_episode }}
            </div>
          </div>
          {% endif %}
        </div>

        <div class="col s12 m4">
        <div class="row">
            <div class="col s12">
                {% if brady == 'on' %}
                <div class="card">
                  <div class="card-content">
                    <span class="card-title black-text">Tom Brady's Statistics</span>
                    <table>
                        <thead>
                            <tr>
                                <th>COM</th>
                                <th>ATT</th>
                                <th>YDS</th>
                                <th>TDS</th>
                                <th>INT</th>
                                <th>QBR</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ content.field_brady_completions }}</td>
                                <td>{{ content.field_brady_attempts }}</td>
                                <td>{{ content.field_brady_yards }}</td>
                                <td>{{ content.field_brady_tds }}</td>
                                <td>{{ content.field_brady_ints }}</td>
                                <td>{{ content.field_brady_passer_rating }}</td>
                            </tr>
                        </tbody>
                    </table>
                  </div>
            </div>
                {% endif %}
            </div>
            <div class="col s12">
                <div class="card">
                  <div class="card-content">
                    <span class="card-title black-text">Game Links</span>
                    <ul>
                    {% if content.field_wikipedia_link|render %}
                        <li>{{ content.field_wikipedia_link }}</li>
                        <li>&nbsp;</li>
                    {% endif %}

                    {% if content.field_youtube_highlights|render %}
                        <li>{{ content.field_youtube_highlights }}</li>
                        <li>&nbsp;</li>
                    {% endif %}
                      {% if season > 2008 %}
                        <li><a class="btn blue darken-4" href="{{ gamepass_link }}" target="_blank"><i class="material-icons left">open_in_new</i> Watch on Gamepass</a></li>
                        <li>&nbsp;</li>
                      {% endif %}
                      <li>
                        <a class="btn green darken-4" href="{{ pfr_link }}" target="_blank"><i class="material-icons left">open_in_new</i> View Game on PFR</a>
                      </li>
                      <li>&nbsp;</li>
                    {% if content.field_full_game_video|render %}
                      <li>{{ content.field_full_game_video }}</li>
                    {% endif %}
                    </ul>
                  </div>
                </div>
            </div>

            <div class="col s12">
                <div class="card">
                  <div class="card-content">
                    <span class="card-title black-text">Game Info</span>
                    {% if content.field_temperature|render or content.field_weather_conditions|render %}
                      {% if content.field_temperature|render %}
                          <p><strong>Temperature:</strong> {{ content.field_temperature }}</p>
                      {% endif %}
                      {% if content.field_weather_conditions|render %}
                          <p><strong>Weather:</strong> {{ content.field_weather_conditions }}</p>
                      {% endif %}
                    {% endif %}
                    {% if content.field_over_under|render or content.field_vegas_line|render %}
                      {% if content.field_over_under|render %}
                        <p><strong>Over/Under:</strong> {{ content.field_over_under }}</p>
                      {% endif %}
                      {% if content.field_vegas_line|render %}
                        <p><strong>Vegas Line:</strong> {{ content.field_vegas_line }}</p>
                      {% endif %}
                    {% endif %}
                    {% if content.field_surface_type|render %}
                      <p><strong>Surface Type:</strong> {{ content.field_surface_type }}</p>
                    {% endif %}
                  </div>
                </div>
            </div>

            </div>
        </div>
      </div>
    </div>
{% if content.field_game_gifs|render %}
    <div id="tab2">
        <div class="col s12">
            <div class="card">
              <div class="card-content">
                <span class="card-title black-text">Highlight Gifs</span>
                <script src="https://muse.ai/static/js/embed-player.min.js"></script>
                {{ content.field_game_gifs }}
              </div>
            </div>
        </div>
    </div>
{% endif %}
{%  if content.field_belichick_breakdown|render or content.field_boston_globe_articles|render %}
    <div id="tab3">
      {% if content.field_boston_globe_articles|render %}
      <div class="col s12">
        <div class="card">
          <div class="card-content">
            <span class="card-title black-text">Boston Globe Articles</span>
            {% for days, articles in globe_articles %}
              <h2>{{ days|capitalize }}</h2>
              <div class="row">
                {% for day, article in articles %}
                  {% for a in article %}
                    <div class="col">{{ drupal_entity('media', a['target_id'], 'gallery') }}</div>
                  {% endfor %}
                {% endfor %}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endif %}
      {%  if content.field_belichick_breakdown|render %}
        <div class="col s12">
            <div class="card">
              <div class="card-content">
                <span class="card-title black-text">Belichick Breakdown</span>
                {{ content.field_belichick_breakdown }}
              </div>
            </div>
        </div>
      {% endif %}
    </div>
{% endif %}
</div>
