{#
/**
 * @file
 * Default theme implementation to display a single Drupal page.
 *
 * The doctype, html, head, and body tags are not in this template. Instead
 * they can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.menu: Items for the menu region.
 * - page.content: The main content of the current page.
 * - page.footer: Items for the footer region.

 *
 * @see template_preprocess_page()
 * @see insha_preprocess_page()
 * @see html.html.twig
 */
#}
<nav style="background: {{ header_bg }}; color: {{ header_txt }} !important" role="navigation">
  <div class="nav-wrapper container">
      {% if page.menu %}
          {{ page.menu }}
      {% endif %}
  </div>
</nav>

{% set filters = ['attempts', 'completions', 'yards', 'tds', 'ints', 'passer_rating', 'brady_opponent', 'result', 'playoff_game', 'opposing_coach', 'location'] %}
{% set active_filters = [] %}
{% for key in query %}
  {% if key in filters %}
    {% set active_filters = active_filters|merge([key]) %}
  {% endif %}
{% endfor %}

<main>
    {% if page.content %}
      <div class="row">
        <div class="col s12">
          {% if active_filters %}
            <div class="card-panel"><strong>Active Filters:</strong>
              {% for filter in active_filters %}
                <span class="chip">{{ filter|replace(
                    {
                      '_':' ',
                      'brady':'',

                    }) }}
          </span>
              {% endfor %}
            </div>
          {% endif %}
        </div>
      </div>
  <div class="row">
    <div class="col s12 l4">
      <ul class="collapsible no-pad-top" data-collapsible="expandable">
        <li class="collection-header blue darken-4 white-text">Filters <a href="/search/brady" class="btn blue-text text-darken-4 white right">Reset Filters</a></li>
        <li><div class="collapsible-header {% if 'attempts' in active_filters %} active red-text text-darken-4 bold{% endif %}"><i class="material-icons">{% if 'attempts' in active_filters %}keyboard_arrow_down{% else %}keyboard_arrow_right{% endif %}</i>Attempts</div>
          <div class="collapsible-body padded"><p>{{ drupal_entity('block', 'attempts') }}</p></div>
        </li>
        <li><div class="collapsible-header {% if 'completions' in active_filters %} active red-text text-darken-4 bold{% endif %}"><i class="material-icons">{% if 'completions' in active_filters %}keyboard_arrow_down{% else %}keyboard_arrow_right{% endif %}</i>Completions</div>
          <div class="collapsible-body padded"><p>{{ drupal_entity('block', 'completions') }}</p></div>
        </li>
        <li><div class="collapsible-header {% if 'yards' in active_filters %} active red-text text-darken-4 bold{% endif %}"><i class="material-icons">{% if 'yards' in active_filters %}keyboard_arrow_down{% else %}keyboard_arrow_right{% endif %}</i>Yards</div>
          <div class="collapsible-body padded"><p>{{ drupal_entity('block', 'yards') }}</p></div>
        </li>
        <li><div class="collapsible-header {% if 'tds' in active_filters %} active red-text text-darken-4 bold{% endif %}"><i class="material-icons">{% if 'tds' in active_filters %}keyboard_arrow_down{% else %}keyboard_arrow_right{% endif %}</i>TDs</div>
          <div class="collapsible-body padded"><p>{{ drupal_entity('block', 'tds') }}</p></div>
        </li>
        <li><div class="collapsible-header {% if 'ints' in active_filters %} active red-text text-darken-4 bold{% endif %}"><i class="material-icons">{% if 'ints' in active_filters %}keyboard_arrow_down{% else %}keyboard_arrow_right{% endif %}</i>INTs</div>
          <div class="collapsible-body padded"><p>{{ drupal_entity('block', 'ints') }}</p></div>
        </li>
        <li><div class="collapsible-header {% if 'passer_rating' in active_filters %} active red-text text-darken-4 bold{% endif %}"><i class="material-icons">{% if 'passer_rating' in active_filters %}keyboard_arrow_down{% else %}keyboard_arrow_right{% endif %}</i>Passer Rating</div>
          <div class="collapsible-body padded"><p>{{ drupal_entity('block', 'passerrating') }}</p></div>
        </li>
        <li><div class="collapsible-header {% if 'brady_opponent' in active_filters %} active red-text text-darken-4 bold{% endif %}"><i class="material-icons">{% if 'brady_opponent' in active_filters %}keyboard_arrow_down{% else %}keyboard_arrow_right{% endif %}</i>Opponent</div>
          <div class="collapsible-body padded"><p>{{ drupal_entity('block', 'opponent_3') }}</p></div>
        </li>
        <li><div class="collapsible-header {% if 'result' in active_filters %} active red-text text-darken-4 bold{% endif %}"><i class="material-icons">{% if 'result' in active_filters %}keyboard_arrow_down{% else %}keyboard_arrow_right{% endif %}</i>Game Result</div>
          <div class="collapsible-body padded"><p>{{ drupal_entity('block', 'result') }}</p></div>
        </li>
        <li><div class="collapsible-header {% if 'playoff_game' in active_filters %} active red-text text-darken-4 bold{% endif %}"><i class="material-icons">{% if 'playoff_game' in active_filters %}keyboard_arrow_down{% else %}keyboard_arrow_right{% endif %}</i>Playoff Game</div>
          <div class="collapsible-body padded"><p>{{ drupal_entity('block', 'playoffgame') }}</p></div>
        </li>
        <li><div class="collapsible-header {% if 'opposing_coach' in active_filters %} active red-text text-darken-4 bold{% endif %}"><i class="material-icons">{% if 'opposing_coach' in active_filters %}keyboard_arrow_down{% else %}keyboard_arrow_right{% endif %}</i>Opposing Coach</div>
          <div class="collapsible-body padded"><p>{{ drupal_entity('block', 'opposingcoach') }}</p></div>
        </li>
        <li><div class="collapsible-header {% if 'location' in active_filters %} active red-text text-darken-4 bold{% endif %}"><i class="material-icons">{% if 'location' in active_filters %}keyboard_arrow_down{% else %}keyboard_arrow_right{% endif %}</i>Home/Away</div>
          <div class="collapsible-body padded"><p>{{ drupal_entity('block', 'location') }}</p></div>
        </li>
        <li class="collapsible-header"><a href="/search/brady" class="btn-large blue darken-4 white-text">Reset Filters</a></li>
      </ul>

    </div>
    <div class="col s12 l8">
        {{ page.content|without('attempts', 'completions', 'yards', 'tds', 'ints', 'passerrating', 'opponent_3', 'result', 'playoffgame', 'opposingcoach', 'location') }}
    </div>
  </div>
    {% endif %}
</main>
<footer class="page-footer" style="background: {{ footer_bg }}; color: {{ footer_txt }} !important">
    <div class="container">
      {% if page.footer %}
          {{ page.footer }}
      {% endif %}
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    All data has been gathered from either <a href="http://wikipedia.org" target="_blank">Wikipedia</a> or <a href="http://www.pro-football-reference.com/" target="_blank">Pro Football Reference</a>, and has been attributed as such whenever possible.
                </div>
            </div>
            {% if copyright %}
                © {{ "now"|date("Y") }} {{ copyright }}
            {% endif %}
        </div>
    </div>
</footer>
