{#
/**
 * @file
 * Default theme implementation to display a single Drupal page.
 *
 * The doctype, html, head, and body tags are not in this template. Instead
 * they can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.menu: Items for the menu region.
 * - page.content: The main content of the current page.
 * - page.footer: Items for the footer region.

 *
 * @see template_preprocess_page()
 * @see insha_preprocess_page()
 * @see html.html.twig
 */
#}
<nav style="background: {{ header_bg }}; color: {{ header_txt }} !important" role="navigation">
  <div class="nav-wrapper container">
      {% if page.menu %}
          {{ page.menu }}
      {% endif %}
  </div>
</nav>

{% set filters = ['podcast_season'] %}
{% set active_filters = [] %}
{% for key in query %}
  {% if key in filters %}
    {% set active_filters = active_filters|merge([key]) %}
  {% endif %}
{% endfor %}

<div class="parallax-container hide-on-small-only">
  <div class="parallax">
    <div class="parallax-overlay">
      <h1 class="overlay-title">PATRIOTS DYNASTY PODCAST</h1>
      <div class="overlay-body"><span><span>Andrew Brown</span>
</span>
        <br>
        11 February 2020</div>
    </div>
    <img src="/sites/default/files/2020-02/dynasty%28podcast%29wide.gif" width="2000" height="1047" alt="Patriots Dynasty Podcast logo" typeof="foaf:Image" class="responsive-img" style="display: block; transform: translate3d(-50%, 288px, 0px);">
  </div>
</div>
<div class="hide-on-med-and-up">
  <h1 class="center">PATRIOTS DYNASTY PODCAST</h1>
</div>

<main class="container">
  <div class="row">
    <div class="col s12 l8">
      <p>
        The Patriots Dynasty has been a huge part of the NFL landscape for the last 20 years. The trio of Kraft,
        Belichick and Brady have become almost mythical creatures at this point, but what was the journey actually
        like? Join the Brown brothers and their motley crew of friends as we go back and experience the history of the
        Patriots Dynasty one game at a time, reliving all of the best and worst moments of the most impressive stretch
        of football every played in the NFL.
      </p>
      <p>
        And don't worry about being the only one listening (looking at you, Mom). In order to provide some transparency
        into what we're doing, we're posting our <a href="/podcast-analytics">podcast analytics</a> as well.
      </p>
      <p>
        If you wouldn't mind, we'd love to hear what you think:
      </p>
      <div id="rtp-button"></div>

    </div>
    <div class="col s12 l3">
      <div class="card-panel hide-on-med-and-down">
        <div class="row ">
          <div class="col s12">
            <div class="center"><a class="modal-trigger btn red darken-4" href="#listen-modal">Listen</a></div>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <div class="center"><a href="https://ratethispodcast.com/patspod" class="btn red darken-4 white-text">Review Us</a></div>
          </div>
        </div>
        <div class="row">
          <div class="col s12 center">
            <a class="btn-floating btn-large red darken-4" href="https://www.facebook.com/patriotsdynasty2001"><i class="fab fa-facebook-f"></i></a>
            <a class="btn-floating btn-large red darken-4" href="https://twitter.com/PatsDynastyInfo"><i class="fab fa-twitter"></i></a>
            <a class="btn-floating btn-large red darken-4" href="https://www.instagram.com/patriotsdynasty2001/"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
      <div class="card-panel hide-on-large-only">
        <div class="row">
          <div class="col s6">
            <div class="center"><a class="modal-trigger btn red darken-4" href="#listen-modal">Listen</a></div>
          </div>
          <div class="col s6">
            <div class="center"><a href="https://ratethispodcast.com/patspod" class="btn red darken-4 white-text">Review Us</a></div>
          </div>
        </div>
        <div class="row">
          <div class="col s12 center">
            <a class="btn-floating btn-large red darken-4" href="https://www.facebook.com/patriotsdynasty2001"><i class="fab fa-facebook-f"></i></a>
            <a class="btn-floating btn-large red darken-4" href="https://twitter.com/PatsDynastyInfo"><i class="fab fa-twitter"></i></a>
            <a class="btn-floating btn-large red darken-4" href="https://www.instagram.com/patriotsdynasty2001/"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
      </div>
    </div>

  <div id="listen-modal" class="modal">
    <div class="modal-content">
      <h5>Listen via your preferred app:</h5>
      <div class="row">
        <div class="col s12 m4"><a class="btn blue darken-4 white-text" href="https://itunes.apple.com/us/podcast/id1497577531?mt=2" id="pod-apple-button">Apple</a></div>
        <div class="col s12 m4"><a class="btn blue darken-4 white-text" href="https://pca.st/pa8slg4f" id="pod-pocketcasts-button">PocketCasts</a></div>
        <div class="col s12 m4"><a class="btn blue darken-4 white-text" href="https://podcasts.google.com/?feed=aHR0cHM6Ly9mZWVkcy5hY2FzdC5jb20vcHVibGljL3Nob3dzLzVkMjNkNmNkZDVlZjA4NGQwN2VmNTliOQ" id="pod-google-button">Google</a></div>
      </div>
      <div class="row">
        <div class="col s12 m4"><a class="btn blue darken-4 white-text" href="https://open.spotify.com/show/7pA5XFa7J0mmby0vTCosOu" id="pod-spotify-button">Spotify</a></div>
        <div class="col s12 m4"><a class="btn blue darken-4 white-text" href="https://www.stitcher.com/podcast/patriots-dynasty-podcast" id="pod-stitcher-button">Stitcher</a></div>
        <div class="col s12 m4"><a class="btn blue darken-4 white-text" href="https://www.youtube.com/channel/UCyVCkL2azPXZZruRHgs9Kqw" id="pod-youtube-button">Youtube</a></div>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect btn-flat">Close</a>
    </div>
  </div>
  <div class="row">
    <h2>Latest Episode</h2>
    <div class="col s12">
      {{ drupal_entity('block', 'latest_podcast_episode') }}
    </div>
  </div>
{% if page.content %}
{# Featured Podcasts Section #}
  <div class="row card-panel">
    <h2>Our Favorite Episodes</h2>
    <div class="col m12 l3">
      <h3 class="center">Andy's Favorite</h3>
      {{ drupal_entity('block', 'andyspodcast') }}
    </div>
    <div class="col m12 l3">
      <h3 class="center">Steve's Favorite</h3>
      {{ drupal_entity('block', 'stevespodcast') }}
    </div>
    <div class="col m12 l3">
      <h3 class="center">Greg's Favorite</h3>
      {{ drupal_entity('block', 'gregspodcast') }}
    </div>
    <div class="col m12 l3">
      <h3 class="center">Random Listener Review</h3>
      {{ drupal_entity('block', 'podcast_review') }}
    </div>

  </div>
{# Podcast Search Section #}
  <h2>Search Older Episodes</h2>
  <div class="row">
    <div class="col s12 l4">
      <ul class="collapsible no-pad-top" data-collapsible="expandable">
        <li class="collection-header blue darken-4 white-text">Filters <a href="/podcast" class="btn blue-text text-darken-4 white right">Reset Filters</a></li>
        <li><div class="collapsible-header active"><i class="material-icons">keyboard_arrow_down</i>Season</div>
          <div class="collapsible-body"><p>{{ drupal_entity('block', 'podcastseason') }}</p></div>
        </li>
        <li><div class="collapsible-header active"><i class="material-icons">keyboard_arrow_down</i>Opponent</div>
          <div class="collapsible-body"><p>{{ drupal_entity('block', 'podcastopponent') }}</p></div>
        </li>
        <li class="collapsible-header center-align"><a href="/search/podcasts" class="blue-text text-darken-4">Advanced Search ›</a></li>
      </ul>
    </div>

    <div class="col s12 l8" id="results">
        {{ page.content|without('podcastseason', 'latest_podcast_episode', 'podcastopponent', 'andyspodcast', 'stevespodcast', 'gregspodcast', 'podcast_review') }}
    </div>
  </div>
    {% endif %}
</main>
<footer class="page-footer" style="background: {{ footer_bg }}; color: {{ footer_txt }} !important">
    <div class="container">
      {% if page.footer %}
          {{ page.footer }}
      {% endif %}
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    All data has been gathered from either <a href="http://wikipedia.org" target="_blank">Wikipedia</a> or <a href="http://www.pro-football-reference.com/" target="_blank">Pro Football Reference</a>, and has been attributed as such whenever possible.
                </div>
            </div>
            {% if copyright %}
                © {{ "now"|date("Y") }} {{ copyright }}
            {% endif %}
        </div>
    </div>
</footer>
<script>window.RTP_CONFIG = {link: 'patspod', mode: 'button'};</script><script src="https://ratethispodcast.com/embed.js" defer></script>
