{#
/**
 * @file
 * Default theme implementation to display a single Drupal page.
 *
 * The doctype, html, head, and body tags are not in this template. Instead
 * they can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.menu: Items for the menu region.
 * - page.content: The main content of the current page.
 * - page.footer: Items for the footer region.

 *
 * @see template_preprocess_page()
 * @see insha_preprocess_page()
 * @see html.html.twig
 */
#}
<script src="https://muse.ai/static/js/embed-player.min.js"></script>

<nav style="background: {{ header_bg }}; color: {{ header_txt }} !important" role="navigation">
  <div class="nav-wrapper container">
      {% if page.menu %}
          {{ page.menu }}
      {% endif %}
  </div>
</nav>

{% set f = ['air_yards', 'players_involved', 'play_opponent', 'play_type', 'td_scored', 'play_season', 'play_week', 'quarter', 'down', 'distance', 'yards_gained', 'tags'] %}
{% set active_filters = [] %}
{% for key in query %}
  {% if key in f %}
    {% set active_filters = active_filters|merge([key]) %}
  {% endif %}
{% endfor %}

<main>
    {% if page.content %}
      <div class="row">
        <div class="col s12">
          {% if active_filters %}
          <div class="card-panel"><strong>Active Filters:</strong>
          {% for filter in filters %}
            <span class="chip">{{ filter.name }}: {{ filter.var }}
          </span>
          {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>
  <div class="row">
    <div class="col s12 l4">
      <ul class="collapsible no-pad-top" data-collapsible="expandable">
        <li class="collection-header blue darken-4 white-text">Filters <a href="/search/gifs" class="btn blue-text text-darken-4 white right">Reset Filters</a></li>
        <li><div class="collapsible-header  {% if 'players_involved' in active_filters %} active red-text text-darken-4 bold{% endif %}"><i class="material-icons">{% if 'players_involved' in active_filters %}keyboard_arrow_down{% else %}keyboard_arrow_right{% endif %}</i>Player(s) Involved</div>
          <div class="collapsible-body padded"><p>{{ drupal_entity('block', 'playersinvolved') }}</p></div>
        </li>
        <li><div class="collapsible-header  {% if 'play_opponent' in active_filters %} active red-text text-darken-4 bold{% endif %}"><i class="material-icons">{% if 'play_opponent' in active_filters %}keyboard_arrow_down{% else %}keyboard_arrow_right{% endif %}</i>Opponent</div>
          <div class="collapsible-body padded"><p>{{ drupal_entity('block', 'opponent') }}</p></div>
        </li>
        <li><div class="collapsible-header  {% if 'play_type' in active_filters %} active red-text text-darken-4 bold{% endif %}"><i class="material-icons">{% if 'play_type' in active_filters %}keyboard_arrow_down{% else %}keyboard_arrow_right{% endif %}</i>Play Type</div>
          <div class="collapsible-body padded"><p>{{ drupal_entity('block', 'playtype') }}</p></div>
        </li>
        {% if ('play_type' in active_filters) and (filters.play_type.var == 'Pass') %}
        <li><div class="collapsible-header  {% if 'air_yards' in active_filters %} active red-text text-darken-4 bold{% endif %}"><i class="material-icons">{% if 'air_yards' in active_filters %}keyboard_arrow_down{% else %}keyboard_arrow_right{% endif %}</i>Air Yards</div>
          <div class="collapsible-body padded"><p>{{ drupal_entity('block', 'airyards') }}</p></div>
        </li>
        {% endif %}
        <li><div class="collapsible-header  {% if 'td_scored' in active_filters %} active red-text text-darken-4 bold{% endif %}"><i class="material-icons">{% if 'td_scored' in active_filters %}keyboard_arrow_down{% else %}keyboard_arrow_right{% endif %}</i>TD Scored</div>
          <div class="collapsible-body padded"><p>{{ drupal_entity('block', 'tdscored') }}</p></div>
        </li>
        <li><div class="collapsible-header  {% if 'play_season' in active_filters %} active red-text text-darken-4 bold{% endif %}"><i class="material-icons">{% if 'play_season' in active_filters %}keyboard_arrow_down{% else %}keyboard_arrow_right{% endif %}</i>Season</div>
          <div class="collapsible-body padded"><p>{{ drupal_entity('block', 'season') }}</p></div>
        </li>
        <li><div class="collapsible-header  {% if 'play_week' in active_filters %} active red-text text-darken-4 bold{% endif %}"><i class="material-icons">{% if 'play_week' in active_filters %}keyboard_arrow_down{% else %}keyboard_arrow_right{% endif %}</i>Week</div>
          <div class="collapsible-body padded"><p>{{ drupal_entity('block', 'week_2') }}</p></div>
        </li>
        <li><div class="collapsible-header  {% if 'quarter' in active_filters %} active red-text text-darken-4 bold{% endif %}"><i class="material-icons">{% if 'quarter' in active_filters %}keyboard_arrow_down{% else %}keyboard_arrow_right{% endif %}</i>Quarter</div>
          <div class="collapsible-body padded"><p>{{ drupal_entity('block', 'quarter') }}</p></div>
        </li>
        <li><div class="collapsible-header  {% if 'down' in active_filters or 'distance' in active_filters %} active red-text text-darken-4 bold{% endif %}"><i class="material-icons">{% if 'down' in active_filters or 'distance' in active_filters %}keyboard_arrow_down{% else %}keyboard_arrow_right{% endif %}</i>Down &amp; Distance</div>
          <div class="collapsible-body padded">
            <p>
              Down: {{ drupal_entity('block', 'down') }}
              Distance: {{ drupal_entity('block', 'distance') }}
            </p>
          </div>
        </li>
        <li><div class="collapsible-header {% if 'yards_gained' in active_filters %} active red-text text-darken-4 bold{% endif %}"><i class="material-icons">{% if 'yards_gained' in active_filters %}keyboard_arrow_down{% else %}keyboard_arrow_right{% endif %}</i>Yards Gained</div>
          <div class="collapsible-body padded"><p>{{ drupal_entity('block', 'yardsgained') }}</p></div>
        </li>
        <li><div class="collapsible-header {% if 'tags' in active_filters %} active red-text text-darken-4 bold{% endif %}"><i class="material-icons">{% if 'tags' in active_filters %}keyboard_arrow_down{% else %}keyboard_arrow_right{% endif %}</i>Tags</div>
          <div class="collapsible-body padded"><p>{{ drupal_entity('block', 'tags') }}</p></div>
        </li>

        <li class="collapsible-header"><a href="/search/gifs" class="btn-large blue darken-4 white-text">Reset Filters</a></li>
      </ul>

    </div>
    <div class="col s12 l8" id="results">
        {{ page.content|without('airyards', 'playersinvolved', 'opponent', 'playtype', 'tdscored', 'season', 'week_2', 'quarter', 'down', 'distance', 'yardsgained', 'tags') }}
    </div>
  </div>
    {% endif %}
</main>
<footer class="page-footer" style="background: {{ footer_bg }}; color: {{ footer_txt }} !important">
    <div class="container">
      {% if page.footer %}
          {{ page.footer }}
      {% endif %}
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    All data has been gathered from either <a href="http://wikipedia.org" target="_blank">Wikipedia</a> or <a href="http://www.pro-football-reference.com/" target="_blank">Pro Football Reference</a>, and has been attributed as such whenever possible.
                </div>
            </div>
            {% if copyright %}
                © {{ "now"|date("Y") }} {{ copyright }}
            {% endif %}
        </div>
    </div>
</footer>
