{#
/**
 * @file
 * Theme override for displaying a view as a table.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 *   - class: HTML classes that can be used to style contextually through CSS.
 * - title : The title of this group of rows.
 * - header: The table header columns.
 *   - attributes: Remaining HTML attributes for the element.
 *   - content: HTML classes to apply to each header cell, indexed by
 *   the header's key.
 *   - default_classes: A flag indicating whether default classes should be
 *     used.
 * - caption_needed: Is the caption tag needed.
 * - caption: The caption for this table.
 * - accessibility_description: Extended description for the table details.
 * - accessibility_summary: Summary for the table details.
 * - rows: Table row items. Rows are keyed by row number.
 *   - attributes: HTML classes to apply to each row.
 *   - columns: Row column items. Columns are keyed by column number.
 *     - attributes: HTML classes to apply to each column.
 *     - content: The column content.
 *   - default_classes: A flag indicating whether default classes should be
 *     used.
 * - responsive: A flag indicating whether table is responsive.
 * - sticky: A flag indicating whether table header is sticky.
 *
 * @see template_preprocess_views_view_table()
 */
#}
{%
  set classes = [
    'cols-' ~ header|length,
    responsive ? 'responsive-enabled',
    sticky ? 'sticky-enabled',
    'striped',
  ]
%}
<div class="row">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s6"><a class="active" href="#averages">Averages</a></li>
      <li class="tab col s6"><a href="#totals">Totals</a></li>
    </ul>
  </div>
  <div id="averages" class="col s12">
    <div class="card-panel">
      <div class="row">
        <div class="col s12 m6 center">
          <div class="stat-box new-england-patriots">
            <span class="stat-team flow-text">Patriots Record</span>
            <span class="stat-score">{{ winloss }}</span>
          </div>
        </div>
        <div class="col s12 m6 center">
          <div class="stat-box new-england-patriots">
            <span class="stat-team flow-text">Win Percentage</span>
            <span class="stat-score">{{ winpct|round(3) }}</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m4 center">
          <div class="stat-box new-england-patriots-white">
            <span class="stat-team flow-text">AVG COMP</span>
            <span class="stat-score">{{ avg_comp|number_format(0, '.', ',') }}</span>
          </div>
        </div>
        <div class="col s12 m4 center">
          <div class="stat-box new-england-patriots-white">
            <span class="stat-team flow-text">AVG ATT</span>
            <span class="stat-score">{{ avg_att|number_format(0, '.', ',') }}</span>
          </div>
        </div>
        <div class="col s12 m4 center">
          <div class="stat-box new-england-patriots-white">
            <span class="stat-team flow-text">AVG YDS</span>
            <span class="stat-score">{{ avg_yds|number_format(0, '.', ',') }}</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m4 center">
          <div class="stat-box new-england-patriots-white">
            <span class="stat-team flow-text">AVG TD</span>
            <span class="stat-score">{{ avg_tds|number_format(0, '.', ',') }}</span>
          </div>
        </div>
        <div class="col s12 m4 center">
          <div class="stat-box new-england-patriots-white">
            <span class="stat-team flow-text">AVG INT</span>
            <span class="stat-score">{{ avg_int|number_format(0, '.', ',') }}</span>
          </div>
        </div>
        <div class="col s12 m4 center">
          <div class="stat-box new-england-patriots-white">
            <span class="stat-team flow-text">RATING</span>
            <span class="stat-score">{{ passrating|round(1) }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="totals" class="col s12">
    <div class="card-panel">
      <div class="row">
        <div class="col s12 m6 center">
          <div class="stat-box new-england-patriots">
            <span class="stat-team flow-text">Patriots Record</span>
            <span class="stat-score">{{ winloss }}</span>
          </div>
        </div>
        <div class="col s12 m6 center">
          <div class="stat-box new-england-patriots">
            <span class="stat-team flow-text">Win Percentage</span>
            <span class="stat-score">{{ winpct|round(3) }}</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m4 center">
          <div class="stat-box new-england-patriots-white">
            <span class="stat-team flow-text">COMP</span>
            <span class="stat-score">{{ comp|number_format(0, '.', ',') }}</span>
          </div>
        </div>
        <div class="col s12 m4 center">
          <div class="stat-box new-england-patriots-white">
            <span class="stat-team flow-text">ATT</span>
            <span class="stat-score">{{ att|number_format(0, '.', ',') }}</span>
          </div>
        </div>
        <div class="col s12 m4 center">
          <div class="stat-box new-england-patriots-white">
            <span class="stat-team flow-text">YDS</span>
            <span class="stat-score">{{ yds|number_format(0, '.', ',') }}</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m4 center">
          <div class="stat-box new-england-patriots-white">
            <span class="stat-team flow-text">TD</span>
            <span class="stat-score">{{ tds|number_format(0, '.', ',') }}</span>
          </div>
        </div>
        <div class="col s12 m4 center">
          <div class="stat-box new-england-patriots-white">
            <span class="stat-team flow-text">INT</span>
            <span class="stat-score">{{ int|number_format(0, '.', ',') }}</span>
          </div>
        </div>
        <div class="col s12 m4 center">
          <div class="stat-box new-england-patriots-white">
            <span class="stat-team flow-text">RATING</span>
            <span class="stat-score">{{ passrating|round(1) }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <table{{ attributes.addClass(classes) }}>
      {% if caption_needed %}
        <caption>
        {% if caption %}
          {{ caption }}
        {% else %}
          {{ title }}
        {% endif %}
        {% if (summary is not empty) or (description is not empty) %}
          <details>
            {% if summary is not empty %}
              <summary>{{ summary }}</summary>
            {% endif %}
            {% if description is not empty %}
              {{ description }}
            {% endif %}
          </details>
        {% endif %}
        </caption>
      {% endif %}
      {% if header %}
        <thead>
          <tr>
            {% for key, column in header %}
              {% if column.default_classes %}
                {%
                  set column_classes = [
                    'views-field',
                    'views-field-' ~ fields[key],
                  ]
                %}
              {% endif %}
              <th{{ column.attributes.addClass(column_classes).setAttribute('scope', 'col') }}>
                {%- if column.wrapper_element -%}
                  <{{ column.wrapper_element }}>
                    {%- if column.url -%}
                      <a href="{{ column.url }}" title="{{ column.title }}">{{ column.content }}{{ column.sort_indicator }}</a>
                    {%- else -%}
                      {{ column.content }}{{ column.sort_indicator }}
                    {%- endif -%}
                  </{{ column.wrapper_element }}>
                {%- else -%}
                  {%- if column.url -%}
                    <a href="{{ column.url }}" title="{{ column.title }}">{{ column.content }}{{ column.sort_indicator }}</a>
                  {%- else -%}
                    {{- column.content }}{{ column.sort_indicator }}
                  {%- endif -%}
                {%- endif -%}
              </th>
            {% endfor %}
          </tr>
        </thead>
      {% endif %}
      <tbody>
        {% for row in rows %}
          <tr{{ row.attributes }}>
            {% for key, column in row.columns %}
              {% if column.default_classes %}
                {%
                  set column_classes = [
                    'views-field'
                  ]
                %}
                {% for field in column.fields %}
                  {% set column_classes = column_classes|merge(['views-field-' ~ field]) %}
                {% endfor %}
              {% endif %}
              <td{{ column.attributes.addClass(column_classes) }}>
                {%- if column.wrapper_element -%}
                  <{{ column.wrapper_element }}>
                  {% for content in column.content %}
                    {{ content.separator }}{{ content.field_output }}
                  {% endfor %}
                  </{{ column.wrapper_element }}>
                {%- else -%}
                  {% for content in column.content %}
                    {{- content.separator }}{{ content.field_output -}}
                  {% endfor %}
                {%- endif %}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
