{#
/**
 * @file
 * Theme override to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 */
#}
{% if (fields['play_week'].content == '21') %}
  {% set week = 'Super Bowl' %}
{% elseif (fields['play_week'].content == '20') %}
  {% set week = 'AFC Championship' %}
{% elseif (fields['play_week'].content == '19') %}
  {% set week = 'AFC Divisional' %}
{% elseif (fields['play_week'].content == '18') %}
  {% set week = 'AFC Wildcard' %}
{% else %}
  {% set week = 'Week ' ~ fields['play_week'].content %}
{% endif %}

{% if (fields['yards_gained'].content) %}
  {% set yards = fields['yards_gained'].content ~ ' Yard'  %}
{% else %}
  {% set yards = '' %}
{% endif %}


<div class="card">
  <div class="card-image">
    {{ fields['gfycat_id'].content }}
  </div>
  <div class="card-content">
    {{ fields['gif_title'].content }}

  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>{{ fields['play_season'].content }} {{ week }}</span>
    <div class="row">
      <div class="col s12">
        {{ yards }} {{ fields['play_type'].content }}
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        Player(s) Involved: {{ fields['player_name'].content }}
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        {{ fields['parent_id'].content }}
      </div>
      <div class="col s6">
        {{ fields['gfycat_id_1'].content }}
      </div>
    </div>
  </div>
</div>


