{#
/**
 * @file
 * Theme override for a single field in a view.
 *
 * Available variables:
 * - view: The view that the field belongs to.
 * - field: The field handler that can process the input.
 * - row: The raw result of the database query that generated this field.
 * - output: The processed output that will normally be used.
 *
 * When fetching output from the row this construct should be used:
 * data = row[field.field_alias]
 *
 * The above will guarantee that you'll always get the correct data, regardless
 * of any changes in the aliasing that might happen if the view is modified.
 *
 * @see template_preprocess_views_view_field()
 */
#}
<div class="collapsible-header">
  <iframe src="https://player.acast.com/5d23d6cdd5ef084d07ef59b9/episodes/{{ output }}?theme=custom&cover=1&latest=1&primary=b0b7bc&background=002244" frameBorder="0" width="100%" height="110px" allow="autoplay"></iframe>
  <br><span>Show Transcription</span>
</div>

