{#
/**
 * @file
 * Default theme implementation to display a single Drupal page.
 *
 * The doctype, html, head, and body tags are not in this template. Instead
 * they can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.menu: Items for the menu region.
 * - page.content: The main content of the current page.
 * - page.footer: Items for the footer region.

 *
 * @see template_preprocess_page()
 * @see insha_preprocess_page()
 * @see html.html.twig
 */
#}
<nav style="background: {{ header_bg }}; color: {{ header_txt }} !important" role="navigation">
    <div class="nav-wrapper container">
        {% if page.menu %}
            {{ page.menu }}
        {% endif %}
    </div>
</nav>
<main>
        {% if page.content %}
            {{ page.content }}
        {% endif %}
</main>
<footer class="page-footer" style="background: {{ footer_bg }}; color: {{ footer_txt }} !important">
  {% if page.footer %}
    <div class="container">
      {{ page.footer }}
    </div>
  {% endif %}
  <div class="container">
    <div class="row">
      <div class="col s12 l9">
        <span>All data has been gathered from either <a href="http://wikipedia.org" target="_blank">Wikipedia</a> or <a href="http://www.pro-football-reference.com/" target="_blank">Pro Football Reference</a>, and has been attributed as such whenever possible.</span>
      </div>
      <div class="col s12 l3 right text-align-center">
        <span>Want to help keep the site running?</span> <br>
        <a href="/support-us" class="btn red darken-4">Donate</a>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    &copy; 2017 Patriots Dynasty Info
  </div>
</footer>
