{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{% set is_streamable = content.field_streamable_gif[0]['#markup'] %}
{% set code = content.field_gfycat_embed_code|render %}


{% if content.field_td_scored[0]['#markup'] == 'Yes' %}
  {% set td = 'TD' %}
{% else %}
  {% set td = '' %}
{% endif %}

  {% if is_streamable == 'Yes' %}
      <div class="card">
          <div class="card-image">
              <div style="width: 100%; height: 0px; position: relative; padding-bottom: 55.263%;">
                  <iframe src="https://streamable.com/o/{{ code|trim }}" frameborder="0" width="100%" height="auto" allowfullscreen style="width: 100%; height: 100%; position: absolute; top: 0; left: 0;"></iframe>
              </div>
          </div>
          <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">{{ content.field_gif_title }}<i class="material-icons right">arrow_drop_up</i></span>
          </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>

          <ul class="collection">
            <li class="collection-item"><a href="/game/{{ content.game.id }}">{{ content.game.season }} {{ content.game.week }}</a><br>
              {% if content.game.result|render == 'Win' %}
                <strong class="blue-text text-darken-4">New England Patriots: {{ content.game.pats_score }}</strong><br>
                <span class="red-text text-darken-4">{{ content.game.opponent }}: {{ content.game.opp_score }}</span>
              {% elseif content.game.result|render == 'Loss' %}
                <span class="blue-text text-darken-4">New England Patriots: {{ content.game.pats_score }}</span><br>
                <strong class="red-text text-darken-4">{{ content.game.opponent }}: {{ content.game.opp_score }}</strong>
              {% else %}
                {# No game result, don't show anything. #}
              {% endif %}
            </li>
            <li class="collection-item">Player(s) Involved: {{ content.field_players_involved }}</li>
            {% if content.field_yards_gained|render %}
              <li class="collection-item">Play Type: {{ content.field_yards_gained }} Yard {{ td }} {{ content.field_play_type }}</li>
            {% else %}
              <li class="collection-item">Play Type: {{ td }} {{ content.field_play_type }} </li>
            {% endif %}
            <li class="collection-item"><span><a target="_blank" href="https://gfycat.com/{{ code|trim }}">Download GIF</a></span></li>
          </ul>
        </div>
      </div>
  {% else %}
      <div class="card">
          <div class="card-image">
            {% if content.field_muse_video_id|render %}
              {{ content.field_muse_video_id }}
            {% else %}
              <img id="block-{{ code|trim }}" data-id="{{ code|trim }}" class="gfyitem">
            {% endif %}
          </div>
          <div class="card-content">
            <span class="grey-text activator text-darken-4">{{ content.field_gif_title }}<i class="material-icons right">more_vert</i></span>
          </div>
          <div class="card-reveal">
              <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>

              <ul class="collection">
              <li class="collection-item">
                <div class="row">
                  <div class="col s12 center">
                    <h5><a href="/game/{{ content.game.id }}">{{ content.game.season }} {{ content.game.week }}</a></h5>
                  </div>
                </div>
              {% if content.game.result|render == 'Win' %}
                <div class="row">
                  <div class="col s10">
                    <strong>New England Patriots</strong>
                  </div>
                  <div class="col s2">
                    <strong>{{ content.game.pats_score }}</strong>
                  </div>
                </div>
                <div class="row">
                  <div class="col s10">
                    {{ content.game.opponent }}
                  </div>
                  <div class="col s2">
                    {{ content.game.opp_score }}
                  </div>
                </div>
              {% elseif content.game.result|render == 'Loss' %}
                <div class="row">
                  <div class="col s10">
                    New England Patriots
                  </div>
                  <div class="col s2">
                    {{ content.game.pats_score }}
                  </div>
                </div>
                <div class="row">
                  <div class="col s10">
                    <strong>{{ content.game.opponent }}</strong>
                  </div>
                  <div class="col s2">
                    <strong>{{ content.game.opp_score }}</strong>
                  </div>
                </div>
              {% else %}
                  {# No game result, don't show anything. #}
              {% endif %}

              </li>
                  <li class="collection-item"><strong>Player(s) Involved:</strong><br>
                    {{ content.field_players_involved }}</li>
                {% if content.field_yards_gained|render %}
                  <li class="collection-item"><strong>Play Type:</strong><br>
                    {{ content.field_yards_gained }} yard {{ td }} {{ content.field_play_type }}</li>
                {% else %}
                  <li class="collection-item"><strong>Play Type:</strong><br>
                    {{ td }} {{ content.field_play_type }} </li>
                {% endif %}
{#                  <li class="collection-item"><span><a target="_blank" href="https://gfycat.com/{{ code|trim }}">Download GIF</a></span></li>#}
              </ul>
          </div>
      </div>
  {% endif %}

