{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{% set is_streamable = content.field_streamable_gif[0]['#markup'] %}
{% set code = content.field_gfycat_embed_code|render %}

{% if content.field_muse_video_id|render %}
<div class="card">
  <div class="card-image">
    {{ content.field_muse_video_id }}
  </div>
  <div class="card-content">
    <p>{{ content.field_gif_title }}</p>
  </div>
{#  <div class="card-action">#}
{#    <a href="#">Share</a>#}
{#  </div>#}
</div>
{% else %}
  {% if is_streamable == 'Yes' %}
      <div class="card-panel">
          <div style="width: 100%; height: 0px; position: relative; padding-bottom: 55.263%;"><iframe src="https://streamable.com/o/{{ code|trim }}" frameborder="0" width="100%" height="auto" allowfullscreen style="width: 100%; height: 100%; position: absolute; top: 0; left: 0;"></iframe></div>
          <div><a target="_blank" href="https://streamable.com/{{ code|trim }}">{{ content.field_gif_title }}</a></div>
      </div>
  {% else %}
    <div class="card">
      <div class="card-image">
        <img id="block-{{ code|trim }}" data-id="{{ code|trim }}" class="gfyitem">
      </div>
      <div class="card-content">
        <p><a target="_blank" href="https://gfycat.com/{{ code|trim }}">{{ content.field_gif_title }}</a></p>
      </div>
    </div>
  {% endif %}
{% endif %}

