{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{% set pct = record.win / (record.win + record.loss) %}
{% set pie = (pct * 100) - 100 %}
<div class="total nfl pie" style="animation-delay: {{ pie|round }}s">
    <div class="pie-overlay">
        <span class="name">{{ record.title }}</span><br>
        <span class="record">{{ record.win }} - {{ record.loss }}</span><br>
        <span class="pct">{{ pct|number_format(3) }}</span>
    </div>
</div>
