{#
/**
 * @file
 * Theme override to display a single views grouping.
 *
 * Available variables:
 * - view: The view object.
 * - grouping: The grouping instruction.
 * - grouping_level: A number indicating the hierarchical level of the grouping.
 * - title: The group heading.
 * - content: The content to be grouped.
 * - rows: The rows returned from the view.
 *
 * @see template_preprocess_views_view_grouping()
 */
#}
{% if content.id == 'date_based_breakdowns' %}
<div class="col s12 m6 l4">
            {% if content.0['#title'] == 'Win' %}
                {% set w = content.0|e|trim %}
                {% set l = content.1|e|trim %}
                {% set pct = w / (w + l) %}
                {% set pie = (pct * 100) - 100 %}
            <div class="total nfl pie" style="animation-delay: {{ pie }}s">
                <div class="pie-overlay">
                    <span class="name">{{ title }}</span><br>
                    <span class="record">{{ content.0 }} - {{ content.1 }}</span><br>
                    <span class="pct">{{ pct|number_format('3', '.', ',') }}</span>
                </div>
            </div>
            {% else %}

                {% set w = content.1|e|trim %}
                {% set l = content.0|e|trim %}
                {% set pct = w / (w + l) %}
                {% set pie = (pct * 100) - 100 %}
                <div class="total nfl pie" style="animation-delay: {{ pie }}s">
                    <div class="pie-overlay">
                        <span class="name">{{ title }}</span><br>
                        <span class="record">{{ content.1 }} - {{ content.0 }}</span><br>
                        <span class="pct">{{ pct|number_format('3', '.', ',') }}</span>
                    </div>
                </div>

            {% endif %}
</div>
{% else %}
    {{ title }}
    {{ content }}
{% endif %}