{#
/**
 * @file
 * Theme override to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 */
#}
<div class="row">
    <div class="total-score col s12 m12 l6">
        <div class="row">
            <div class="col s12">
                <p class="flow-text center">Cumulative Score</p>
            </div>
            <div class="col s6 m6 l6 center">
                <div class="new-england-patriots stat-box">
                    <span class="stat-team flow-text">Patriots</span>
                    <span class="stat-score">{{ pats_tot_score }}</span>
                </div>
            </div>
            <div class="col s6 m6 l6 center">
                <div class="{{ team_path }} stat-box">
                    <span class="stat-team flow-text">{{ team_name }}</span>
                    <span class="stat-score">{{ team_tot_score }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="avg-score col s12 m12 l6">
        <div class="row">
            <div class="col s12">
                <p class="flow-text center">Average Score</p>
            </div>
            <div class="col s6 m6 l6 center">
                <div class="new-england-patriots stat-box">
                    <span class="stat-team flow-text">Patriots</span>
                    <span class="stat-score">{{ pats_avg_score|round }}</span>
                </div>
            </div>
            <div class="col s6 m6 l6 center">
                <div class="{{ team_path }} stat-box">
                    <span class="stat-team flow-text">{{ team_name }}</span>
                    <span class="stat-score">{{ team_avg_score|round }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
