{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
<script type="application/javascript" src="/themes/materialize/js/sorttable.js"></script>
<table class="sortable">
    <thead>
        <tr>
            <th>Team</th>
            <th>Wins</th>
            <th>Losses</th>
            <th>Win Pct</th>
            <th>Avg Margin of Victory</th>
            <th>Dominance</th>
        </tr>
    </thead>
    <tbody>
    {% for team in teams %}
        <tr>
            <td>{{ team.name }}</td>
            <td>{{ team.wins }}</td>
            <td>{{ team.losses }}</td>
            <td>{{ team.winpct|number_format(3) }}</td>
            <td>{{ team.mov|number_format(2) }}</td>
            <td>{{ team.dominance|number_format(1) }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>