{#
/**
 * @file
 * Theme override for displaying a view as a table.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 *   - class: HTML classes that can be used to style contextually through CSS.
 * - title : The title of this group of rows.
 * - header: The table header columns.
 *   - attributes: Remaining HTML attributes for the element.
 *   - content: HTML classes to apply to each header cell, indexed by
 *   the header's key.
 *   - default_classes: A flag indicating whether default classes should be
 *     used.
 * - caption_needed: Is the caption tag needed.
 * - caption: The caption for this table.
 * - accessibility_description: Extended description for the table details.
 * - accessibility_summary: Summary for the table details.
 * - rows: Table row items. Rows are keyed by row number.
 *   - attributes: HTML classes to apply to each row.
 *   - columns: Row column items. Columns are keyed by column number.
 *     - attributes: HTML classes to apply to each column.
 *     - content: The column content.
 *   - default_classes: A flag indicating whether default classes should be
 *     used.
 * - responsive: A flag indicating whether table is responsive.
 * - sticky: A flag indicating whether table header is sticky.
 *
 * @see template_preprocess_views_view_table()
 */
#}
{%
  set classes = [
    'views-table',
    'views-view-table',
    'cols-' ~ header|length,
    responsive ? 'responsive-enabled',
    sticky ? 'sticky-enabled',
  ]
%}
{% set win = 0 %}
{% set loss = 0 %}
{% set games = [] %}
{% set offset = 0 %}
{% for row in rows %}
    {% set c = 0 %}
    {% for result in row.columns.field_result  %}
        {% set c = c + 1 %}
        {% if c == 5 %}
            {% set res = result[0]['field_output']['#markup'] %}
            {% if res == 'Win' %}
                {% set win = win + 1 %}
                {% set offset = offset + 1 %}
                {% set games = games|merge([offset]) %}
            {% else %}
                {% set loss = loss + 1 %}
                {% set offset = offset - 1 %}
                {% set games = games|merge([offset]) %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endfor %}
{# Make arrays for graph #}
{% set pats = [] %}
{% set opp = [] %}
{% for game in games %}
    {% if game > 0 %}
        {% set pats = pats|merge([game]) %}
        {% set opp = opp|merge([0]) %}
    {% elseif game < 0 %}
        {% set pats = pats|merge([0]) %}
        {% set opp = opp|merge([game]) %}
    {% else %}
        {% set pats = pats|merge([0]) %}
        {% set opp = opp|merge([0]) %}
    {% endif %}
{% endfor %}
<div class="row">
    <div class="col s12 m12 l6 offset-l3 center">
        <div class="new-england-patriots stat-box">
            <span class="stat-team flow-text">Patriots Record vs {{ team_name }}</span>
            <span class="stat-score">{{ win }} - {{ loss }}</span>
        </div>
    </div>
</div>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<script type="application/javascript">
    Highcharts.setOptions({
        colors: ['#053c65', '#c41334']
    });
    Highcharts.chart('container', {
        chart: {
            type: 'area'
        },
        title: {
            text: 'Win/Loss Chart Over Time'
        },
        xAxis: {
            title: {
                text: 'Games'
            }
        },
        yAxis: {
            title: {
                text: 'Wins'
            }
        },
        series: [{
            name: 'Patriots',
            data: [{% for p in pats %}
                {{ p }},
                {% endfor %}
            ]
        }, {
            name: '{{ team_name }}',
            data: [{% for p in opp %}
                {{ p }},
                {% endfor %}
            ]
        }]
    });
</script>


<table{{ attributes.addClass(classes) }}>
  {% if caption_needed %}
    <caption>
    {% if caption %}
      {{ caption }}
    {% else %}
      {{ title }}
    {% endif %}
    {% if (summary is not empty) or (description is not empty) %}
      <details>
        {% if summary is not empty %}
          <summary>{{ summary }}</summary>
        {% endif %}
        {% if description is not empty %}
          {{ description }}
        {% endif %}
      </details>
    {% endif %}
    </caption>
  {% endif %}
  {% if header %}
    <thead>
      <tr>
        {% for key, column in header %}
          {% if column.default_classes %}
            {%
              set column_classes = [
                'views-field',
                'views-field-' ~ fields[key],
              ]
            %}
          {% endif %}
          <th{{ column.attributes.addClass(column_classes).setAttribute('scope', 'col') }}>
            {%- if column.wrapper_element -%}
              <{{ column.wrapper_element }}>
                {%- if column.url -%}
                  <a href="{{ column.url }}" title="{{ column.title }}">{{ column.content }}{{ column.sort_indicator }}</a>
                {%- else -%}
                  {{ column.content }}{{ column.sort_indicator }}
                {%- endif -%}
              </{{ column.wrapper_element }}>
            {%- else -%}
              {%- if column.url -%}
                <a href="{{ column.url }}" title="{{ column.title }}">{{ column.content }}{{ column.sort_indicator }}</a>
              {%- else -%}
                {{- column.content }}{{ column.sort_indicator }}
              {%- endif -%}
            {%- endif -%}
          </th>
        {% endfor %}
      </tr>
    </thead>
  {% endif %}
  <tbody>
    {% for row in rows %}
      <tr{{ row.attributes }}>
        {% for key, column in row.columns %}
          {% if column.default_classes %}
            {%
              set column_classes = [
                'views-field'
              ]
            %}
            {% for field in column.fields %}
              {% set column_classes = column_classes|merge(['views-field-' ~ field]) %}
            {% endfor %}
          {% endif %}
          <td{{ column.attributes.addClass(column_classes) }}>
            {%- if column.wrapper_element -%}
              <{{ column.wrapper_element }}>
              {% for content in column.content %}
                {{ content.separator }}{{ content.field_output }}
              {% endfor %}
              </{{ column.wrapper_element }}>
            {%- else -%}
              {% for content in column.content %}
                {{- content.separator }}{{ content.field_output -}}
              {% endfor %}
            {%- endif %}
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
