{#
/**
 * @file
 * Theme override for a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 */
#}
{% if q is not empty %}
  {#
    This ensures that, if clean URLs are off, the 'q' is added first,
    as a hidden form element, so that it shows up first in the POST URL.
  #}
{{ q }}
{% endif %}
{# Only override form if it's a Games list #}
{%  if form['#id'] == 'views-exposed-form-games-page-7' or form['#id'] == 'views-exposed-form-brady-s-game-list-page-1' %}
<div class="form--inline clearfix">
    <ul class="collapsible" data-collapsible="expandable">
        <li>
            <div class="collapsible-header">
                <i class="material-icons">keyboard_arrow_down</i>Home/Away
            </div>
            <div class="collapsible-body">
                <div style="padding: 1rem;">{{ form.field_home_away_value }}</div>
            </div>
        </li>
        <li>
            <div class="collapsible-header">
                <i class="material-icons">keyboard_arrow_down</i>Win/Loss
            </div>
            <div class="collapsible-body">
                <div style="padding: 1rem;">{{ form.field_result_value }}</div>
            </div>
        </li>
        <li>
            <div class="collapsible-header">
                <i class="material-icons">keyboard_arrow_down</i>Week
            </div>
            <div class="collapsible-body">
                <div style="padding: 1rem;">{{ form.field_week_target_id }}</div>
            </div>
        </li>
        <li>
            <div class="collapsible-header">
                <i class="material-icons">keyboard_arrow_down</i>Season
            </div>
            <div class="collapsible-body">
                <div style="padding: 1rem;">{{ form.season }}</div>
            </div>
        </li>
    {% if form.yards_low|render|trim is not empty %}
        <li>
            <div class="collapsible-header">
                <i class="material-icons">keyboard_arrow_down</i>Yards
            </div>
            <div class="collapsible-body">
                <div style="padding: 1rem;">
                   Between {{ form.yards_low }} and {{ form.yards_high }}
                </div>
            </div>
        </li>
    {% endif %}
    {% if form.pats_score_low|render|trim is not empty %}
        <li>
            <div class="collapsible-header">
                <i class="material-icons">keyboard_arrow_down</i>Pats Score
            </div>
            <div class="collapsible-body">
                <div style="padding: 1rem;">
                    Between {{ form.pats_score_low }} and {{ form.pats_score_high }}
                </div>
            </div>
        </li>
    {% endif %}
    {% if form.opp_score_low|render|trim is not empty %}
        <li>
            <div class="collapsible-header">
                <i class="material-icons">keyboard_arrow_down</i>Opponent Score
            </div>
            <div class="collapsible-body">
                <div style="padding: 1rem;">
                    Between {{ form.opp_score_low }} and {{ form.opp_score_high }}
                </div>
            </div>
        </li>
    {% endif %}
    {% if form.tds_low|render|trim is not empty %}
        <li>
            <div class="collapsible-header">
                <i class="material-icons">keyboard_arrow_down</i>TDs
            </div>
            <div class="collapsible-body">
                <div style="padding: 1rem;">
                    Between {{ form.tds_low }} and {{ form.tds_high }}
                </div>
            </div>
        </li>
    {% endif %}
    {% if form.ints_low|render|trim is not empty %}
        <li>
            <div class="collapsible-header">
                <i class="material-icons">keyboard_arrow_down</i>INTs
            </div>
            <div class="collapsible-body">
                <div style="padding: 1rem;">
                    Between {{ form.ints_low }} and {{ form.ints_high }}
                </div>
            </div>
        </li>
    {% endif %}
    {% if form.brady|render|trim is not empty %}
        <li>
            <div class="collapsible-header">
                <i class="material-icons">keyboard_arrow_down</i>Brady Played
            </div>
            <div class="collapsible-body">
                <div style="padding: 1rem;">
                    {{ form.brady }}
                </div>
            </div>
        </li>
    {% endif %}
    {% if form.highlights|render|trim is not empty %}
        <li>
            <div class="collapsible-header">
                <i class="material-icons">keyboard_arrow_down</i>Has Highlights
            </div>
            <div class="collapsible-body">
                <div style="padding: 1rem;">
                    {{ form.highlights }}
                </div>
            </div>
        </li>
    {% endif %}

        <li>
            <div class="collapsible-header">
                <div class="game-buttons">{{ form.actions }}</div>
            </div>
        </li>
    </ul>
</div>
{% else %}
    {{ form }}
{% endif %}
