{#
/**
 * @file
 * Theme override for displaying a view as a table.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 *   - class: HTML classes that can be used to style contextually through CSS.
 * - title : The title of this group of rows.
 * - header: The table header columns.
 *   - attributes: Remaining HTML attributes for the element.
 *   - content: HTML classes to apply to each header cell, indexed by
 *   the header's key.
 *   - default_classes: A flag indicating whether default classes should be
 *     used.
 * - caption_needed: Is the caption tag needed.
 * - caption: The caption for this table.
 * - accessibility_description: Extended description for the table details.
 * - accessibility_summary: Summary for the table details.
 * - rows: Table row items. Rows are keyed by row number.
 *   - attributes: HTML classes to apply to each row.
 *   - columns: Row column items. Columns are keyed by column number.
 *     - attributes: HTML classes to apply to each column.
 *     - content: The column content.
 *   - default_classes: A flag indicating whether default classes should be
 *     used.
 * - responsive: A flag indicating whether table is responsive.
 * - sticky: A flag indicating whether table header is sticky.
 *
 * @see template_preprocess_views_view_table()
 */
#}
{%
set classes = [
'cols-' ~ header|length,
responsive ? 'responsive-enabled',
sticky ? 'sticky-enabled',
]
%}
<h2>Overall Team Stats</h2>
<p class="flow-text">

</p>
<div id="sorts" class="button-group">
    <button class="button primary waves-effect blue darken-4 waves-light btn" data-sort-value="opponent">Opponent</button>
    <button class="button primary waves-effect blue darken-4 waves-light btn" data-sort-value="pats_score">Patriots Points Scored</button>
    <button class="button primary waves-effect blue darken-4 waves-light btn" data-sort-value="opp_score">Patriots Points Allowed</button>
    <button class="button primary waves-effect blue darken-4 waves-light btn" data-sort-value="diff">Point Differential</button>
</div>

<ul class="table-like">
    {% for row in rows %}
        <li class="table-like__item">
            {% for key, column in row.columns %}
                {% if column.default_classes %}
                    {%
                    set column_classes = [
                    'views-field'
                    ]
                    %}
                    {% for field in column.fields %}
                        {% set column_classes = column_classes|merge(['views-field-' ~ field, 'center']) %}
                    {% endfor %}
                {% endif %}
            <div{{ column.attributes.addClass(column_classes) }}>
                {%- if column.wrapper_element -%}
                    <{{ column.wrapper_element }}>
                    {% for content in column.content %}
                        {{ content.separator }}{{ content.field_output }}
                    {% endfor %}
                    </{{ column.wrapper_element }}>
                {%- else -%}
                    {% for content in column.content %}
                        {{- content.separator }}{{ content.field_output -}}
                    {% endfor %}
                {%- endif %}
                </div>
            {% endfor %}
        </li>
    {% endfor %}
    </tbody>
</ul>
<script type="application/javascript">
    jQuery(function($) {
// init Isotope
        var $table = $('.table-like').isotope({
            layoutMode: 'vertical',
            getSortData: {
                opponent: '.views-field-field-opponent',
                pats_score: '.views-field-field-patriots-score parseInt',
                opp_score: '.views-field-field-opponent-score parseInt',
                diff: '.views-field-nothing parseInt',
                weight: function( itemElem ) {
                    var weight = $( itemElem ).find('.weight').text();
                    return parseFloat( weight.replace( /[\(\)]/g, '') );
                }
            }
        });

// bind sort button click
        $('#sorts').on( 'click', 'button', function() {
            var sortValue = $(this).attr('data-sort-value');
            $table.isotope({ sortBy: sortValue, sortAscending: false });
        });

// change is-checked class on buttons
        $('.button-group').each( function( i, buttonGroup ) {
            var $buttonGroup = $( buttonGroup );
            $buttonGroup.on( 'click', 'button', function() {
                $buttonGroup.find('.is-checked').removeClass('is-checked');
                $( this ).addClass('is-checked');
            });
        });
    });
</script>
