{#
/**
 * @file
 * Default theme implementation for a view template to display a jump menu.
 *
 * Available variables:
 * - attributes: HTML attributes for the container.
 * - rows: A list of rows for this jump menu.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's contents.
 * - title: The title of this group of rows. May be empty.
 * - select: @todo.
 *   - type: Starting tag will be either a ul or ol.
 *   - attributes: HTML attributes for the list element.
 *
 * @see template_preprocess_views_view_list()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('views_jump_menu/views-jump-menu') }}

<div class="row">
  <div class="col s12 m4 offset-m3">
    <div class="card-panel">
      <div class="row">
        <div class="col s12 m6">
          <span class="flow-text" id="brady-vs">Brady Vs. </span>
        </div>
        <div class="col s12 m6">
          <select{{ select.attributes }}>
            <option data-url="">{{ select.select_text }}</option>
          {% for option in select.options %}
            <option data-url="{{ option.url }}">{{ option.label }}</option>
          {% endfor %}
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
