{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

<ol>
    {% for player, stat in leaders %}
        {% set classes = '' %}
        {% if player == "Tom Brady" %}
            {% set classes = ' brady' %}
        {% endif %}
        <li class="{{ 'stat-row' ~ classes }}"><span class="player">{{ player }}:</span> <span class="stat">{{ stat|number_format }}</span></li>
    {% endfor %}
</ol>
