{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<script>
    Highcharts.chart('container', {
        chart: {
            type: 'area'
        },
        title: {
            text: 'Points Scored Per Game'
        },
        subtitle: {
            text: 'Sorted by Gametime Temperature'
        },
        xAxis: {
            title: {
              text: 'Temperature'
            },
            categories: [{% for temp in temps %}{{ temp }}, {% endfor %}],
            allowDecimals: false
        },
        yAxis: {
            title: {
                text: 'Points Scored'
            }
        },
        tooltip: {
            pointFormat: '{point.y} points scored.'
        },
        plotOptions: {
            area: {
                pointStart: 0,
                marker: {
                    enabled: false,
                    symbol: 'circle',
                    radius: 2,
                    states: {
                        hover: {
                            enabled: true
                        }
                    }
                }
            }
        },
        series: [{
            name: 'Points For',
            data: [{% for pat in pats %}{{ pat }}, {% endfor %}]
        }, {
            name: 'Points Against',
            data: [{% for o in opp %}{{ o }}, {% endfor %}]
        }]
    });
</script>
