{#
/**
 * @file
 * Theme override for displaying a view as a table.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 *   - class: HTML classes that can be used to style contextually through CSS.
 * - title : The title of this group of rows.
 * - header: The table header columns.
 *   - attributes: Remaining HTML attributes for the element.
 *   - content: HTML classes to apply to each header cell, indexed by
 *   the header's key.
 *   - default_classes: A flag indicating whether default classes should be
 *     used.
 * - caption_needed: Is the caption tag needed.
 * - caption: The caption for this table.
 * - accessibility_description: Extended description for the table details.
 * - accessibility_summary: Summary for the table details.
 * - rows: Table row items. Rows are keyed by row number.
 *   - attributes: HTML classes to apply to each row.
 *   - columns: Row column items. Columns are keyed by column number.
 *     - attributes: HTML classes to apply to each column.
 *     - content: The column content.
 *   - default_classes: A flag indicating whether default classes should be
 *     used.
 * - responsive: A flag indicating whether table is responsive.
 * - sticky: A flag indicating whether table header is sticky.
 *
 * @see template_preprocess_views_view_table()
 */
#}
<div class="row">
  <div class="col s6">
    <br>
  </div>

  <div class="col s6">
    <h1 class="thin">{{ title }}</h1>
      <div class="row">
        <div class="col s12">
    {% for row in rows %}

      {% if row.columns.field_result.content[0].field_output['#markup'] == 'Loss' %}
        {% set win_loss_color = 'loss ' %}
      {% else %}
        {% set win_loss_color = 'win ' %}
      {% endif %}

      {% set team_array = row.columns.field_opponent.content[0].field_output['#markup']|split(' ') %}
      {% set team_css = team_array|join('-')|lower %}
      <a href="/game/{{ row.columns.nid.content[0].field_output['#markup'] }}">
      <div class="card {{ win_loss_color }} lighten-5 ">
        <div class="card-content">
          <span class="card-title blue-text text-darken-4">{{ row.columns.field_week.content[0].field_output['#markup'] }}</span>
          <div class="row">
            <div class="col s6">
                <div class="row">
                  <div class="col s9">
                    <div class="blue-text text-darken-4 center">
                      <span class="stat-team flow-text">Patriots</span>
                    </div>
                  </div>
                  <div class="col s3">
                    <div class="new-england-patriots stat-box center">
                      <span class="stat-team flow-text">{{ row.columns.field_patriots_score.content[0].field_output['#markup'] }}</span>
                    </div>
                  </div>
              </div>
            </div>
            <div class="col s6">
                    <div class="{{ team_css }} stat-box center">
                      <span class="stat-team flow-text">{{ row.columns.field_opponent_score.content[0].field_output['#markup'] }} | {{ team_array|last }}</span>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      </a>
    {% endfor %}
        </div>
      </div>
  </div>
</div>
