{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
<script src="https://code.highcharts.com/highcharts.js"></script>
<div id="top10first30" ></div>
<script>
  Highcharts.chart('top10first30', {
    chart: {
      type: 'bar'
    },
    colors: ['#002244'],
    title: {
      text: 'Top 10 Podcast Downloads'
    },
    subtitle: {
      text: 'First 30 Days'
    },
    xAxis: {
      categories: [{% for title in episode_titles %}'{{ title }}',{% endfor %}],
      title: {
        text: null
      }
    },
    yAxis: {
      min: 0,
      title: {
        text: 'Downloads'
      },
      labels: {
        overflow: 'justify'
      }
    },
    tooltip: {
      valueSuffix: ' downloads'
    },
    plotOptions: {
      bar: {
        dataLabels: {
          enabled: true
        }
      }
    },
    credits: {
      enabled: false
    },
    series: [{
      name: 'Downloads first 30 days',
      data: [{% for listens in first30 %} {{ listens }}, {% endfor %}]
    }]
  });
</script>
