{#
/**
 * @file
 * Theme override for displaying a view as a table.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 *   - class: HTML classes that can be used to style contextually through CSS.
 * - title : The title of this group of rows.
 * - header: The table header columns.
 *   - attributes: Remaining HTML attributes for the element.
 *   - content: HTML classes to apply to each header cell, indexed by
 *   the header's key.
 *   - default_classes: A flag indicating whether default classes should be
 *     used.
 * - caption_needed: Is the caption tag needed.
 * - caption: The caption for this table.
 * - accessibility_description: Extended description for the table details.
 * - accessibility_summary: Summary for the table details.
 * - rows: Table row items. Rows are keyed by row number.
 *   - attributes: HTML classes to apply to each row.
 *   - columns: Row column items. Columns are keyed by column number.
 *     - attributes: HTML classes to apply to each column.
 *     - content: The column content.
 *   - default_classes: A flag indicating whether default classes should be
 *     used.
 * - responsive: A flag indicating whether table is responsive.
 * - sticky: A flag indicating whether table header is sticky.
 *
 * @see template_preprocess_views_view_table()
 */
#}
{%
set classes = [
'views-table',
'views-view-table',
'cols-' ~ header|length,
responsive ? 'responsive-enabled',
sticky ? 'sticky-enabled',
]
%}
{% set nfl_pct = (totals.nfl.pct * 100) - 100 %}

{% set afc_pct = (totals.afc.pct * 100) - 100 %}
{% set afc_east_pct = (totals.afc_east.pct * 100) - 100 %}
{% set afc_west_pct = (totals.afc_west.pct * 100) - 100 %}
{% set afc_north_pct = (totals.afc_north.pct * 100) - 100 %}
{% set afc_south_pct = (totals.afc_south.pct * 100) - 100 %}

{% set nfc_pct = (totals.nfc.pct * 100) - 100 %}
{% set nfc_east_pct = (totals.nfc_east.pct * 100) - 100 %}
{% set nfc_west_pct = (totals.nfc_west.pct * 100) - 100 %}
{% set nfc_north_pct = (totals.nfc_north.pct * 100) - 100 %}
{% set nfc_south_pct = (totals.nfc_south.pct * 100) - 100 %}
{% set ovr_500 = (totals.nfl.w - totals.nfl.l) %}
<h1>Tracking the Patriots Dynasty</h1>

<p class="flow-text">
    Throughout the history of the NFL there have been many dynasties, but none have been on the same level as the Patriots' dominance since Bill Belichick took over in 2000. Since September 3rd, 2000 the Patriots have an astounding win percentage against the rest of the league. In fact, no team in the NFL has a winning record against the Patriots in this span. You can click on any team to get a better idea of their history against the Patriots. Use these buttons below to filter the list of teams by conference/division:
</p>

{# Filter and Sort Buttons #}
<div id="teams">
    <div class="button-group filter-button-group">
        <div class="row">
            <div class="col s12">
                    <div class="row">
                        <div class="col"><span style="font-size: 24px; font-weight: 300;">Filter:</span></div>
                        <div class="col"><button class="button primary waves-effect blue darken-4 waves-light btn" data-filter=":not(.conference, .division)">Entire NFL</button></div>
                        <div class="col"><button class="button dropdown-button primary waves-effect blue darken-4 waves-light btn" data-activates='drop_afc' data-beloworigin='true' data-hover='true' data-filter=".afc:not(.division)">AFC</button></div>
                        <div class="col"><button class="button dropdown-button primary waves-effect blue darken-4 waves-light btn" data-activates='drop_nfc' data-beloworigin='true' data-hover='true' data-filter=".nfc:not(.division)">NFC</button></div>
                    </div>
            </div>
        </div>
            
        <ul id='drop_afc' class='dropdown-content'>
            <li><button class="button primary waves-effect waves-light btn-flat" data-filter=".afc.north">North</button></li>
            <li><button class="button primary waves-effect waves-light btn-flat" data-filter=".afc.south">South</button></li>
            <li><button class="button primary waves-effect waves-light btn-flat" data-filter=".afc.east">East</button></li>
            <li><button class="button primary waves-effect waves-light btn-flat" data-filter=".afc.west">West</button></li>
        </ul>
        <ul id='drop_nfc' class='dropdown-content'>
            <li><button class="button primary waves-effect waves-light btn-flat" data-filter=".nfc.north">North</button></li>
            <li><button class="button primary waves-effect waves-light btn-flat" data-filter=".nfc.south">South</button></li>
            <li><button class="button primary waves-effect waves-light btn-flat" data-filter=".nfc.east">East</button></li>
            <li><button class="button primary waves-effect waves-light btn-flat" data-filter=".nfc.west">West</button></li>
        </ul>
    </div>
    <div class="row">
        <div class="col s12">
                <div class="button-group sort-by-button-group">
                    <div class="row">
                        <div class="col"><span style="font-size: 24px; font-weight: 300;">Sort:</span></div>
                        <div class="col"><button class="button primary waves-effect red darken-4 waves-light btn" data-sort-by="name">Name</button></div>
                        <div class="col"><button class="button primary waves-effect red darken-4 waves-light btn" data-sort-by="wins">Most Wins</button></div>
                        <div class="col"><button class="button primary waves-effect red darken-4 waves-light btn" data-sort-by="losses">Most Losses</button></div>
                        <div class="col"><button class="button primary waves-effect red darken-4 waves-light btn" data-sort-by="pct">Highest Win &percnt;</button></div>
                    </div>
                </div>
        </div>
    </div>
    <div class="teams">
{# Adding the conference and division pie charts, but hiding initially. #}
<!-- NFL Pie Chart -->
        <div id="nfl" class="team nfl">
            <div class="total nfl pie" style="animation-delay: {{ nfl_pct|round }}s">
                <div class="pie-overlay">
                    <span class="name">  {{ totals.nfl.name }}</span><br>
                    <span class="record">
                        <span class="wins">{{ totals.nfl.w }}</span> - <span class="losses">{{ totals.nfl.l }}</span>
                    </span><br>
                    <span class="pct">{{ totals.nfl.pct }}</span>
                </div>
            </div>
        </div>
<!-- Conference Pie Charts -->
        <div id="nflafc" class="team nfl conference afc" style="display: none">
            <div class="total nfl pie" style="animation-delay: {{ afc_pct|round }}s">
                <div class="pie-overlay">
                    <span class="name"> {{ totals.afc.name }}</span><br>
                    <span class="record">{{ totals.afc.w }} - {{ totals.afc.l }}</span><br>
                    <span class="pct">{{ totals.afc.pct }}</span>
                </div>
            </div>
        </div>
        <div id="nflnfc" class="team nfl conference nfc" style="display: none">
            <div class="total nfl pie" style="animation-delay: {{ nfc_pct|round }}s">
                <div class="pie-overlay">
                    <span class="name"> {{ totals.nfc.name }}</span><br>
                    <span class="record">{{ totals.nfc.w }} - {{ totals.nfc.l }}</span><br>
                    <span class="pct">{{ totals.nfc.pct }}</span>
                </div>
            </div>
        </div>
<!-- Division Pie Charts (AFC) -->
        <div class="team nfl division afc north" style="display: none">
            <div class="total nfl pie" style="animation-delay: {{ afc_north_pct|round }}s">
                <div class="pie-overlay">
                    <span class="name"> {{ totals.afc_north.name }}</span><br>
                    <span class="record">{{ totals.afc_north.w }} - {{ totals.afc_north.l }}</span><br>
                    <span class="pct">{{ totals.afc_north.pct }}</span>
                </div>
            </div>
        </div>
        <div class="team nfl division afc south" style="display: none">
            <div class="total nfl pie" style="animation-delay: {{ afc_south_pct|round }}s">
                <div class="pie-overlay">
                    <span class="name"> {{ totals.afc_south.name }}</span><br>
                    <span class="record">{{ totals.afc_south.w }} - {{ totals.afc_south.l }}</span><br>
                    <span class="pct">{{ totals.afc_south.pct }}</span>
                </div>
            </div>
        </div>
        <div class="team nfl division afc east" style="display: none">
            <div class="total nfl pie" style="animation-delay: {{ afc_east_pct|round }}s">
                <div class="pie-overlay">
                    <span class="name"> {{ totals.afc_east.name }}</span><br>
                    <span class="record">{{ totals.afc_east.w }} - {{ totals.afc_east.l }}</span><br>
                    <span class="pct">{{ totals.afc_east.pct }}</span>
                </div>
            </div>
        </div>
        <div class="team nfl division afc west" style="display: none">
            <div class="total nfl pie" style="animation-delay: {{ afc_west_pct|round }}s">
                <div class="pie-overlay">
                    <span class="name"> {{ totals.afc_west.name }}</span><br>
                    <span class="record">{{ totals.afc_west.w }} - {{ totals.afc_west.l }}</span><br>
                    <span class="pct">{{ totals.afc_west.pct }}</span>
                </div>
            </div>
        </div>
<!-- Division Pie Charts (NFC) -->
        <div class="team nfl division nfc north" style="display: none">
            <div class="total nfl pie" style="animation-delay: {{ nfc_north_pct|round }}s">
                <div class="pie-overlay">
                    <span class="name"> {{ totals.nfc_north.name }}</span><br>
                    <span class="record">{{ totals.nfc_north.w }} - {{ totals.nfc_north.l }}</span><br>
                    <span class="pct">{{ totals.nfc_north.pct }}</span>
                </div>
            </div>
        </div>
        <div class="team nfl division nfc south" style="display: none">
            <div class="total nfl pie" style="animation-delay: {{ nfc_south_pct|round }}s">
                <div class="pie-overlay">
                    <span class="name"> {{ totals.nfc_south.name }}</span><br>
                    <span class="record">{{ totals.nfc_south.w }} - {{ totals.nfc_south.l }}</span><br>
                    <span class="pct">{{ totals.nfc_south.pct }}</span>
                </div>
            </div>
        </div>
        <div class="team nfl division nfc east" style="display: none">
            <div class="total nfl pie" style="animation-delay: {{ nfc_east_pct|round }}s">
                <div class="pie-overlay">
                    <span class="name"> {{ totals.nfc_east.name }}</span><br>
                    <span class="record">{{ totals.nfc_east.w }} - {{ totals.nfc_east.l }}</span><br>
                    <span class="pct">{{ totals.nfc_east.pct }}</span>
                </div>
            </div>
        </div>
        <div class="team nfl division nfc west" style="display: none">
            <div class="total nfl pie" style="animation-delay: {{ nfc_west_pct|round }}s">
                <div class="pie-overlay">
                    <span class="name"> {{ totals.nfc_west.name }}</span><br>
                    <span class="record">{{ totals.nfc_west.w }} - {{ totals.nfc_west.l }}</span><br>
                    <span class="pct">{{ totals.nfc_west.pct }}</span>
                </div>
            </div>
        </div>

{# Loop through all teams and create circles for those. #}
        {% for team in teams %}
            {% set pct = team.w / (team.w + team.l) %}
            <div>
                <a href="/team/{{ team.style }}" class="team {{ team.style }} {{ team.cnf }} {{ team.div }}">
                    <div class="team-inner">
                    <span class="name">{{ team.name }}</span>
                    <br>
                                <span class="record">
                                    <span class="wins">{{ team.w }}</span> - <span class="losses">{{ team.l }}</span>
                                </span>
                    <br>
                    <span class="pct">{{ pct|number_format(3) }}</span>
                </div>
                </a>
            </div>
        {% endfor %}


    </div>
</div>
<script type="application/javascript">
    jQuery(function($) {
        // init Isotope
        var $grid = $('.teams').isotope({
            itemSelector: '.team',
            layoutMode: 'fitRows',
            sortAscending: {
                name: true,
                wins: false,
                losses: false,
                pct: false
            },

            getSortData: {
                name: '.name',
                wins: '.wins parseInt',
                losses: '.losses parseInt',
                pct: '.pct parseFloat',
            }
        });
        // Sort items on button click
        $('.sort-by-button-group').on('click', 'button', function () {
            var sortByValue = $(this).attr('data-sort-by');
            $grid.isotope({sortBy: sortByValue});
        });
        // Filter items on button click
        $('.filter-button-group').on('click', 'button', function () {
            var filterValue = $(this).attr('data-filter');
            $grid.isotope({filter: filterValue});
        });
    });
</script>
