{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
<h2>Today's Popular Blogs</h2>
<div class="row">
    {% for row in rows %}
        <div class="col s12 m6 l4">
            {{ row.content }}
        </div>
    {% endfor %}
</div>
